In [25]:
## Importing libraries
import pandas as pd
import pyreadstat

In [26]:
### Import Labor force survey 
## 2556
LFS_56_Q1, meta_56_Q1 = pyreadstat.read_sav("D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\LFS\LFS561.SAV")

In [27]:
LFS_56_Q1

,REG,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_ND,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround
0,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
1,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
2,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
3,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
4,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226612,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226613,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226614,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226615,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0

In [28]:
### What does each column mean
meta_56_Q1.column_names_to_labels

{'REG': 'REGION',
 'CWD': 'CHANGWAD IN REGION',
 'AMP': None,
 'TMB': None,
 'AREA': 'AREA',
 'ED': None,
 'VILLAGE': None,
 'BLKV': None,
 'ROTA_GR': 'ROTATION GROUP',
 'SAMSET': 'SAMPLE SET',
 'MONTH': 'MONTH',
 'YEAR': 'YEAR',
 'HH_NO': 'HOUSEHOLD NUMBER',
 'HH_TYPE': 'HOUSEHOLD TYPE',
 'HH_MEM': 'NUMBER OF PERSON IN HOUSEHOLD',
 'LISTING': 'LISTING OF PERSON IN HOUSEHOLD',
 'ENUM': 'ENUMERATION',
 'LINE_NO': 'HH MEMBER NO.',
 'RELA': 'RELATION TO HEAD OF HH',
 'SEX': 'SEX',
 'AGE': 'AGE',
 'MRSTAT': 'MARITAL STATUS',
 'STUDYLEV': 'ATTENDING SCHOOL LEVEL',
 'GRADE': 'GRADE COMPLETED',
 'SUBJECT': 'SUBJECT COMPLETED',
 'LINE': 'SUBJECT FOR HIGHEST EDUCATION COMPLETED',
 'WKLW': 'WORK LAST WEEK',
 'RECEIVE': 'RECEIVE INCOME',
 'PERJOB': 'HAVE PERMANENT JOB',
 'ABSENT': 'HOW LONG LEAVE',
 'LOOKWK': 'LOOKED FOR WORK',
 'METHOD': 'HOW LOOKED FOR WORK',
 'AVAIWK': 'AVAILABLE FOR WORK',
 'REUNWK': 'REASON UNAVAILABLE FOR WORK',
 'RE_NLOOK': 'REASON NOT LOOKING FOR WORK',
 'LENLKWK': 'HOW LONG HAS BEEN LOOKING FOR WORK',
 'EVERWK': 'EVER WORKED BEFORE',
 'RESNUEMP': 'REASON UNEMPLOYED',
 'DR_UNEM': 'HOW LONG NOT WORKED',
 'OCCUP': 'OCCUPATION',
 'INDUST': 'INDUSTRY',
 'WKSTAT': 'WORK STATUS',
 'FIRMSIZE': 'FIRM SIZE',
 'HOUR_PO': 'HOURS WORKED FOR PRINCIPAL OCCUPATION',
 'HOUR_OO': 'HOURS WORKED FOR OTHER OCCUPATIONS',
 'TOTHOUR': 'TOTAL HOURS WORKED',
 'ADD_HWK': 'ADDITIONAL HOURS AVAILABLE FOR WORK',
 'MORE_HR': 'HOW HOUR PER WEEK TO MORE WORK',
 'FINDING': 'FINDING ANOTHER WORK',
 'RENOMORE': "REASON DON'T MORE WORK",
 'TWAGE': 'WAGE TYPE',
 'BAHT': 'BAHTS RECEIVED PER HOUR,DAY,WEEK,MONTH',
 'PERMONTH': 'AVERAGE WAGE RECEIVED PER MONTH',
 'BONUS': 'BONUS',
 'OTIME': 'OVER TIME (BAHT)',
 'OTHER': 'OTHERS (BAHT)',
 'FOOD': 'FOOD (BAHT)',
 'CLOTHES': 'CLOTHES (BAHT)',
 'LIV_QUA': 'LIVING QUART (BAHT)',
 'OTHTHING': 'OTHERS THING (BAHT)',
 'LASTMEM': 'LAST MEMBER',
 'WKCODE': 'WORK STATUS RECODE',
 'EDCODE': 'EDUCATION RECODE',
 'WT': 'WEIGHT',
 'RAISE_WG': 'สถานประกอบการได้ปรับอัตราค่าจ้างใหม่หรือไม่',
 'SUIT_WG': 'มีความคิดเห็นอย่างไรต่อการปรับอัตราค่าจ้างขั้นต่ำในปัจจุบัน',
 'EFFECT_ST': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 1',
 'EFFECT_ND': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 2',
 'EFFECT_RD': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 3',
 'LAY_OFF': 'ท่าน/สถานประกอบการเมื่อปรับอัตราค่าจ้างขั้นต่ำได้มีการเลิกจ้างบุคลากรด้วยหรือไม่',
 'ASSIST': 'ต้องการความช่วยเหลืออย่างไรต่อการปรับอัตราค่าจ้างขั้นต่ำ',
 'Desire': 'ต้องการพัฒนาขึดความสามารถในด้านใดด้านหนึ่งหรือไม่',
 'Course': 'ต้องการได้รับการพัฒนาขีดความสามารถในหลักสูตรใด/เรืองใด/ด้านใด',
 'Ryear': 'ในรอบปีที่ผ่านมาเคยได้รับการพัฒนาขีดความสามารถในหลักสูตร/เรื่อง/ด้านใดด้านหนึ่งจำนวนกี่หลักสูตร',
 'Dcourse': 'ได้รับการพัฒนาขึดความสามารถในหลักสูตร/เรื่อง/ด้านใด',
 'No_Desire': 'ทำไมจึงไม่ต้องการพัฒนาขีดความสามารถ',
 'yround': None}

In [29]:
## Label of each column
meta_56_Q1.variable_to_label

{'REG': 'labels0',
 'AREA': 'labels1',
 'HH_TYPE': 'labels2',
 'RELA': 'labels3',
 'SEX': 'labels4',
 'MRSTAT': 'labels5',
 'LINE': 'labels6',
 'WKLW': 'labels7',
 'RECEIVE': 'labels8',
 'PERJOB': 'labels9',
 'ABSENT': 'labels10',
 'LOOKWK': 'labels11',
 'METHOD': 'labels12',
 'AVAIWK': 'labels13',
 'REUNWK': 'labels14',
 'RE_NLOOK': 'labels15',
 'LENLKWK': 'labels16',
 'EVERWK': 'labels17',
 'RESNUEMP': 'labels18',
 'DR_UNEM': 'labels19',
 'WKSTAT': 'labels20',
 'FIRMSIZE': 'labels21',
 'ADD_HWK': 'labels22',
 'FINDING': 'labels23',
 'RENOMORE': 'labels24',
 'TWAGE': 'labels25',
 'LASTMEM': 'labels26',
 'RAISE_WG': 'labels27',
 'SUIT_WG': 'labels28',
 'EFFECT_ST': 'labels29',
 'EFFECT_ND': 'labels30',
 'EFFECT_RD': 'labels31',
 'LAY_OFF': 'labels32',
 'ASSIST': 'labels33',
 'Desire': 'labels34',
 'Ryear': 'labels35',
 'No_Desire': 'labels36'}

In [30]:
### Value labels (What does each value in each column mean)

meta_56_Q1.value_labels

{'labels0': {1.0: 'BANGKOK AND METROPOLIS',
  2.0: 'CENTRAL',
  3.0: 'NORTH',
  4.0: 'NORTHEAST',
  5.0: 'SOUTH'},
 'labels1': {1.0: 'MUNICIPAL', 2.0: 'NON-MUNICIPAL'},
 'labels2': {1.0: 'PRIVATE HOUSEHOLD', 2.0: 'SPECIAL HOUSEHOLD'},
 'labels3': {0.0: 'MEMBER IN SPECIAL HH',
  1.0: 'HEAD OF HH',
  2.0: 'SPOUSE',
  3.0: 'UNMARRIED CHILD',
  4.0: 'MARRIED CHILD',
  5.0: 'CHILD IN-LAW',
  6.0: 'GRAND CHILD',
  7.0: 'PARENTS',
  8.0: 'RELATIVES',
  9.0: 'OTHERS'},
 'labels4': {1.0: 'MALE', 2.0: 'FEMALE'},
 'labels5': {1.0: 'SINGLE',
  2.0: 'MARRIED',
  3.0: 'WIDOW',
  4.0: 'DIVORCED',
  5.0: 'SEPERATED',
  6.0: 'MARRIED BUT UNKNOWN'},
 'labels6': {1.0: 'ACADEMIC', 2.0: 'VOCATIONAL', 3.0: 'TEACHER TRAINING'},
 'labels7': {1.0: 'WORKED', 2.0: "DIDN'T WORK"},
 'labels8': {1.0: 'RECIEVED', 2.0: "DIN'T RECIEVED"},
 'labels9': {1.0: 'HAD', 2.0: "DIDN'T HAVE"},
 'labels10': {1.0: 'LE 2 MONTH', 2.0: 'GT 2 MONTH'},
 'labels11': {1.0: 'LOOKED 7 DAYS',
  2.0: 'LOOKED 8-30 DAYS',
  3.0: "DIDN'T LOOK"},
 'labels12': {1.0: 'NEWSPAPER',
  2.0: 'RADIO/TV',
  3.0: 'FRIEND',
  4.0: 'JOB AGENCY',
  5.0: 'FIND JOB DIRECTLY',
  6.0: 'LETTER',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels13': {1.0: 'AVIALABLE', 2.0: 'NOT AVAILABLE'},
 'labels14': {1.0: 'HOUSEHOLD WORK',
  2.0: 'STUDY',
  3.0: 'OFF SEASON',
  4.0: 'TOO YOUNG OR TOO OLD',
  5.0: 'INCAPABLE OF WORK',
  6.0: 'SPENT',
  7.0: 'RETIRE',
  8.0: 'OTHERS'},
 'labels15': {1.0: "THOUGHT CAN'T FIND JOB",
  2.0: "TRY BUT CAN'T FIND JOB",
  3.0: 'UNKNOWN TO FIND',
  4.0: "DIDN'T HAVE JOB TO FIT",
  5.0: 'BAD WEATHER',
  6.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels16': {1.0: 'LT 1 MONTH',
  2.0: '1-2.9 MONTH',
  3.0: '3-5.9 MONTH',
  4.0: '6-8.9 MONTH',
  5.0: '9-11.9 MONTH',
  6.0: 'GE 12 MONTH',
  9.0: 'UNKNOWN'},
 'labels17': {1.0: 'EVER', 2.0: 'NEVER'},
 'labels18': {1.0: 'FIRM QUIT',
  2.0: 'FIRED',
  3.0: 'CONTACT END',
  4.0: 'DEDUCTED RENUM',
  5.0: 'NOT CONTENT RENUM',
  6.0: 'JOB FINISH',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels19': {1.0: 'LT 1 MONTH',
  2.0: '1-2.9 MONTH',
  3.0: '3-5.9 MONTH',
  4.0: '6-8.9 MONTH',
  5.0: '9-11.9 MONTH',
  6.0: 'GE 12 MONTH',
  9.0: 'UNKNOWN'},
 'labels20': {1.0: 'EMPLOYER',
  2.0: 'OWN ACCOUNT',
  3.0: 'UNPAID FAMILY WORKERS',
  4.0: "GOV'T EMPLOYEE",
  5.0: 'STATE ENTERPRISE EMPLOYEE',
  6.0: 'PRIVATE EMPLOYEE',
  7.0: 'GROUP'},
 'labels21': {1.0: 'LT 4',
  2.0: '5-9',
  3.0: '10-19',
  4.0: '20-49',
  5.0: '50-99',
  6.0: '100-199',
  7.0: '200+',
  9.0: 'UNKNOWN'},
 'labels22': {1.0: 'HAVE', 2.0: "DIDN'T HAVE"},
 'labels23': {1.0: 'FINDED', 2.0: "DIN'T FIND"},
 'labels24': {1.0: 'BREAKDOWN MACHINE',
  2.0: 'DECREASING CAPACITY',
  3.0: 'STRIKE',
  4.0: "CAN'T FIND MORE JOB",
  5.0: 'SICK',
  6.0: 'BAD WEATHER',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels25': {1.0: 'HOUR',
  2.0: 'DAY',
  3.0: 'WEEK',
  4.0: 'MONTH',
  5.0: 'OTHERS',
  6.0: 'UNKNOWN',
  7.0: 'NON-ENUMERATE'},
 'labels26': {0.0: 'NOT LAST MEMBER', 1.0: 'LAST MEMBER'},
 'labels27': {1.0: 'ปรับ', 2.0: 'ไม่ปรับ', 3.0: 'ไม่ทราบ'},
 'labels28': {1.0: 'เหมาะสม', 2.0: 'ไม่เหมาะสม', 3.0: 'ไม่ทราบ'},
 'labels29': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels30': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels31': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels32': {1.0: 'เลิกจ้างทั้งหมด',
  2.0: 'เลิกจ้างบางส่วน',
  3.0: 'ไม่มีการเลิกจ้าง',
  9.0: 'ไม่ทราบ'},
 'labels33': {1.0: 'ไม่ต้องการความช่วยเหลือ',
  2.0: 'หาแหล่งเงินทุนให้',
  3.0: 'ลดอัตราดอกเบี้ยเงินกู้',
  4.0: 'หาแหล่งตลาดใหม่ๆ',
  5.0: 'เพิ่มอัตราการลดหย่อนภาษี',
  6.0: 'ช่วยเหลือค่าครองชีพประจำวัน',
  7.0: 'พัฒนาฝีมือแรงงาน',
  8.0: 'อื่นๆ',
  9.0: 'ไม่ทราบ'},
 'labels34': {1.0: 'ต้องการ', 2.0: 'ไม่ต้องการ'},
 'labels35': {0.0: 'ไม่เคย',
  1.0: '1 หลักสูตร',
  2.0: '2 หลักสูตร',
  3.0: '3 หลักสูตร',
  4.0: '4 หลักสูตร',
  5.0: 'มากกว่า 4 หลักสูตร'},
 'labels36': {1.0: 'ไม่รู้สถานที่/หน่วยงานที่ให้การพัฒนาฯ',
  2.0: 'ไม่มีเวลาว่างพอ',
  3.0: 'ไม่มีค่าใช้จ่ายที่ใช้ในการพัฒนา',
  4.0: 'ป่วย/พิการ',
  5.0: 'ชรา',
  6.0: 'ยังเด็ก/เรียนหนังสือ',
  7.0: 'ต้องการพักผ่อน',
  8.0: 'ไม่มีหลักสูตร/เรื่องที่ต้องการพัฒนาฯ',
  9.0: 'อื่นๆ'}}

In [31]:
## Import new province code.
New_province = pd.read_csv("D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\Province_code.csv")

## Merge with LFS.
LFS_56_Q1 = pd.merge(LFS_56_Q1, New_province[["REG_NEW", "CWD"]], how = 'left', left_on = 'CWD', right_on = 'CWD')

LFS_56_Q1

,REG,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround,REG_NEW
0,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
1,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
2,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
3,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,1
4,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0,6
226612,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0,6
226613,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6
226614,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6
226615,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6

In [32]:
## move REG_NEW to the first column, drop REG.
cols = LFS_56_Q1.columns.tolist()
cols = cols[-1:] + cols[:-1]
LFS_56_Q1 = LFS_56_Q1[cols]

## drop REG.
LFS_56_Q1 = LFS_56_Q1.drop(columns = ["REG"])

In [33]:
LFS_56_Q1

,REG_NEW,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_ND,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround
0,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
1,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
2,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
3,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
4,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226612,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226613,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226614,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226615,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0

###  Value labels of 'WKCODE': 'WORK STATUS RECODE', and 'EDCODE': 'EDUCATION RECODE'.
#### WKCODE

For 2528 - 2543:
- 01-08: Employed
- 09-12, 14-17: Unemployed
- **19-20, 22-26: Not in labor force** &rarr; 01-18, 21: Labor force
- 13, 18, 21: Waiting for season.

**Note**: must also exclude people age under 15 years old manually.

For 2544 - 2550:
- 01-03: Employed
- 04-05: Unemployed
- **06-07, 09-12: Not in labor force** &rarr; 01-05, 08: Labor force
- 08: Waiting for season.
- 13: Persons under 15 years old

For 2551 - recent:
- 01-03: Employed
- 04-05: Unemployed
- **06-07, 09-13: Not in labor force** &rarr; 01-05, 08: Labor force
- 08: Waiting for season.
- 14: Persons under 15 years old

#### EDCODE 

For 2528 - 2543:
- 01-03: Less than elementary education
- 04: Elementary education
- 05, 07: Lower secondary education
- 06, 08: Upper secondary or Associate
- 09-10: Bachelor or higher
- if 11
    + if *OCCUP* is >= 71 & <= 74, then Upper secondary or Associate
    + if *OCCUP* is >= 75 & <= 78, then Bachelor or higher
- 12-14: Other or unknown education (excluded from the analysis)

For 2544 - 2549:
- 01-02: Less than elementary education
- 03: Elementary education
- 04: Lower secondary education
- 05-10: Upper secondary or Associate
- 11-13: Bachelor or higher
- 14-15: Other or unknown education (excluded from the analysis)


For 2550 - recent:
- 01-02: Less than elementary education
- 03: Elementary education
- 04: Lower secondary education
- 05-10: Upper secondary or Associate
- 11-13: Bachelor degree education
- 14-15: Master degree education or higher
- 16-17: Other or unknown education (excluded from the analysis)

In [49]:
### Crete functions to exclude people who are not in labor force.
## Excluding people who are not in labor force (2544 - recent)
def exclude_not_LF(LFS_df): # drop WKCODE == 06-07 or >= 09.
    x = LFS_df.drop(LFS_df[(LFS_df["WKCODE"] == 6) | (LFS_df["WKCODE"] == 7) | (LFS_df["WKCODE"] >= 9)].index)
    return x

In [50]:
## Apply the function to the data (use pipe since the input is a dataframe)
LFS_56_Q1 = LFS_56_Q1.pipe(exclude_not_LF)

In [51]:
### Define fuctions to recode EDCODE.
## Regroup EDCODE to 6 categories (2528 - 2543)
## Wait until the data has been received.

## Regroup EDCODE to 6 categories (2544 - 2549)
def EDCODE_NEW_50(df):
    if df["EDCODE"] < 2:
        return "Less than elementary"
    elif df["EDCODE"] == 3:
        return "Elementary"
    elif df["EDCODE"] == 4:
        return "Lower secondary"
    elif (df["EDCODE"] >= 5) & (df["EDCODE"] <= 10):
        return "Upper secondary or Associate"
    elif (df["EDCODE"] >= 11) & (df["EDCODE"] <= 13):
        return "Bachelor or higher"
    else: 
        return "Other/Unknown"

## Regroup EDCODE to 6 categories (2550 - recent)
def EDCODE_NEW_50(df):
    if df["EDCODE"] < 2:
        return "Less than elementary"
    elif df["EDCODE"] == 3:
        return "Elementary"
    elif df["EDCODE"] == 4:
        return "Lower secondary"
    elif (df["EDCODE"] >= 5) & (df["EDCODE"] <= 10):
        return "Upper secondary or Associate"
    elif (df["EDCODE"] >= 11) & (df["EDCODE"] <= 15):
        return "Bachelor or higher"
    else: 
        return "Other/Unknown"

In [52]:
## Apply the function to the dataframe.
LFS_56_Q1["EDCODE_NEW"] = LFS_56_Q1.apply(EDCODE_NEW_50, axis = 1)

In [53]:
## Check the total labor force (sum WT)
LFS_56_Q1["WT"].sum()

# correct!

39134120.86750001

In [39]:
### Keep only the necessary columns: REG_NEW, YEAR, AGE, EDCODE, WKCODE, OCCUP, INDUST, PERMONTH, WT
LFS_56_Q1 = LFS_56_Q1[["REG_NEW", "YEAR", "AGE", "EDCODE", "EDCODE_NEW", "WKCODE", "OCCUP", "INDUST", "PERMONTH", "WT"]]

In [40]:
LFS_56_Q1

,REG_NEW,YEAR,AGE,EDCODE,EDCODE_NEW,WKCODE,OCCUP,INDUST,PERMONTH,WT
0,1,56.0,46.0,11.0,Bachelor or higher,1.0,5221.0,47711.0,NaN,877.8005
1,1,56.0,40.0,5.0,Upper secondary or Associate,1.0,5223.0,47711.0,NaN,881.6978
2,1,56.0,22.0,3.0,Elementary,1.0,9111.0,97000.0,6000.0,545.8329
3,1,56.0,NaN,NaN,Other/Unknown,NaN,NaN,NaN,NaN,NaN
4,1,56.0,77.0,2.0,Other/Unknown,1.0,5221.0,47711.0,NaN,738.7725
...,...,...,...,...,...,...,...,...,...,...
226608,6,56.0,47.0,1.0,Less than elementary,1.0,6112.0,1261.0,NaN,378.8351
226609,6,56.0,40.0,3.0,Elementary,1.0,5120.0,85101.0,4500.0,421.1832
226610,6,56.0,21.0,3.0,Elementary,1.0,6112.0,1261.0,NaN,711.6193
226611,6,56.0,18.0,3.0,Elementary,1.0,6112.0,1261.0,NaN,677.1118
226612,6,56.0,16.0,4.0,Lower secondary,1.0,6112.0,1261.0,NaN,568.8458

## Examine employment in the three broad sectors: agriculture, industry, and services.

From 2528 - 2543, the standard is ISIC Rev (4 digits)1:
- Agriculture: 01-04
- Industry: 11-52
- Services: 61-90

From 2544 - 2553, the standard is ISIC Rev 3. (4 digits):
- Agriculture: 01-05
- Industry: 10-45
- Services: 50-99

From 2554 - recent years, the standard is TSIC 2009 (5 digits):
- Agriculture: 01-03
- Industry: 05-43
- Services: 45-99

## Examine education level.

In [41]:
### Tabulate the data. Get the number of people in each education level (7 categories), in each region (6 regions).
## Tabulate the data.
LFS_56_Q1_EDU_REG_TOTAL = LFS_56_Q1.groupby(["REG_NEW", "EDCODE_NEW"]).agg({"WT": "sum"}).reset_index() ## Don't sort by the alphabetical order.

## Exclude the "Other/Unknown" category.
LFS_56_Q1_EDU_REG_TOTAL = LFS_56_Q1_EDU_REG_TOTAL[LFS_56_Q1_EDU_REG_TOTAL["EDCODE_NEW"] != "Other/Unknown"].reset_index(drop=True) ## drop previous index (otherwise it becomes a new column)

## Create a new column for the percentage of each education level in each region.
LFS_56_Q1_EDU_REG_TOTAL["Percentage"] = LFS_56_Q1_EDU_REG_TOTAL.groupby("REG_NEW")["WT"].apply(lambda x: x/x.sum()*100).reset_index().WT

In [42]:
## Compute the total number of people in each education level at the national level
LFS_56_Q1_EDU_NAT_TOTAL = LFS_56_Q1_EDU_REG_TOTAL.groupby(["EDCODE_NEW"]).agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0. 
LFS_56_Q1_EDU_NAT_TOTAL["REG_NEW"] = 0

# Make REG_NEW the first column.
cols = LFS_56_Q1_EDU_NAT_TOTAL.columns.tolist()
cols = cols[-1:] + cols[:-1]
LFS_56_Q1_EDU_NAT_TOTAL = LFS_56_Q1_EDU_NAT_TOTAL[cols]

## Create a new column for the percentage of each education level
LFS_56_Q1_EDU_NAT_TOTAL["Percentage"] = LFS_56_Q1_EDU_NAT_TOTAL["WT"]/LFS_56_Q1_EDU_NAT_TOTAL["WT"].sum()*100

In [43]:

## Concatenate the national level data to the regional level data.
LFS_56_Q1_EDU_REG_TOTAL = pd.concat([LFS_56_Q1_EDU_NAT_TOTAL, LFS_56_Q1_EDU_REG_TOTAL], axis = 0).reset_index(drop=True) ## drop previous index entirely.

In [44]:

## remove the dataframes that are no longer needed.
del LFS_56_Q1_EDU_NAT_TOTAL

In [45]:
### Sort the table by EDCODE_NEW.
custom_dict_edu = {'Less than elementary': 0, 'Elementary': 1, 'Lower secondary': 2, 'Upper secondary or Associate': 3, 'Bachelor or higher': 4, 'Other/Unknown': 5}

# Convert EDCODE_NEW to an ordered categorical data type
LFS_56_Q1_EDU_REG_TOTAL['EDCODE_NEW'] = pd.Categorical(LFS_56_Q1_EDU_REG_TOTAL['EDCODE_NEW'], categories=custom_dict_edu.keys(), ordered=True)

# Sort the table by EDCODE_NEW and REG_NEW
LFS_56_Q1_EDU_REG_TOTAL.sort_values(by=['REG_NEW', 'EDCODE_NEW'], inplace=True, ignore_index = True)

In [46]:
LFS_56_Q1_EDU_REG_TOTAL

    REG_NEW                    EDCODE_NEW            WT  Percentage
0         0          Less than elementary  2.014078e+06    6.594940
1         0                    Elementary  9.231139e+06   30.226633
2         0               Lower secondary  6.463361e+06   21.163764
3         0  Upper secondary or Associate  7.670410e+06   25.116150
4         0            Bachelor or higher  5.160764e+06   16.898514
5         1          Less than elementary  1.483974e+05    3.992904
6         1                    Elementary  6.648583e+05   17.889226
7         1               Lower secondary  5.715394e+05   15.378312
8         1  Upper secondary or Associate  9.269860e+05   24.942251
9         1            Bachelor or higher  1.404748e+06   37.797307
10        2          Less than elementary  4.224070e+05    7.428945
11        2                    Elementary  1.497443e+06   26.335793
12        2               Lower secondary  1.262550e+06   22.204690
13        2  Upper secondary or Associate  1.535333e+06   27.002165
14        2            Bachelor or higher  9.682289e+05   17.028407
15        3          Less than elementary  1.073478e+05    5.163942
16        3                    Elementary  6.099191e+05   29.340019
17        3               Lower secondary  4.841952e+05   23.292102
18        3  Upper secondary or Associate  5.725110e+05   27.540512
19        3            Bachelor or higher  3.048227e+05   14.663425
20        4          Less than elementary  7.543811e+05   14.156643
21        4                    Elementary  1.543194e+06   28.959429
22        4               Lower secondary  1.081610e+06   20.297383
23        4  Upper secondary or Associate  1.219927e+06   22.893034
24        4            Bachelor or higher  7.297017e+05   13.693511
25        5          Less than elementary  2.413477e+05    2.621825
26        5                    Elementary  3.539103e+06   38.446229
27        5               Lower secondary  2.104414e+06   22.860815
28        5  Upper secondary or Associate  2.264270e+06   24.597378
29        5            Bachelor or higher  1.056197e+06   11.473753
30        6          Less than elementary  3.401971e+05    7.519298
31        6                    Elementary  1.376621e+06   30.427146
32        6               Lower secondary  9.590525e+05   21.197718
33        6  Upper secondary or Associate  1.151383e+06   25.448747
34        6            Bachelor or higher  6.970660e+05   15.407091

In [47]:
## Focus on young labor force (15-24) which is those who just entered the labor market.
LFS_56_Q1_YOUNG = LFS_56_Q1[LFS_56_Q1["AGE"] <= 24]

In [48]:
#### Repeat the same process of tabulating the data. Focus on education level.
## Tabulate the data.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = LFS_56_Q1_YOUNG.groupby(["REG_NEW", "EDCODE_NEW"]).agg({"WT": "sum"}).reset_index() ## Don't sort by the alphabetical order.

## Exclude the "Other/Unknown" category.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = LFS_56_Q1_YOUNG_EDU_REG_TOTAL[LFS_56_Q1_YOUNG_EDU_REG_TOTAL["EDCODE_NEW"] != "Other/Unknown"].reset_index(drop=True) ## drop previous index (otherwise it becomes a new column)

## Create a new column for the percentage of each education level in each region.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL["Percentage"] = LFS_56_Q1_YOUNG_EDU_REG_TOTAL.groupby("REG_NEW")["WT"].apply(lambda x: x/x.sum()*100).reset_index().WT

## Compute the total number of people in each education level at the national level
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL = LFS_56_Q1_YOUNG_EDU_REG_TOTAL.groupby(["EDCODE_NEW"]).agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0.
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["REG_NEW"] = 0

# Make REG_NEW the first column.
cols = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL.columns.tolist()

cols = cols[-1:] + cols[:-1]
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL[cols]

## Create a new column for the percentage of each education level
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["Percentage"] = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["WT"]/LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["WT"].sum()*100

## Concatenate the national level data to the regional level data.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = pd.concat([LFS_56_Q1_YOUNG_EDU_NAT_TOTAL, LFS_56_Q1_YOUNG_EDU_REG_TOTAL], axis = 0).reset_index(drop=True) ## drop previous index entirely.

## remove the dataframes that are no longer needed.
del LFS_56_Q1_YOUNG_EDU_NAT_TOTAL

### Sort the table by EDCODE_NEW.
custom_dict_edu = {'Less than elementary': 0, 'Elementary': 1, 'Lower secondary': 2, 'Upper secondary or Associate': 3, 'Bachelor or higher': 4, 'Other/Unknown': 5}

# Convert EDCODE_NEW to an ordered categorical data type
LFS_56_Q1_YOUNG_EDU_REG_TOTAL['EDCODE_NEW'] = pd.Categorical(LFS_56_Q1_YOUNG_EDU_REG_TOTAL['EDCODE_NEW'], categories=custom_dict_edu.keys(), ordered=True)

# Sort the table by EDCODE_NEW and REG_NEW
LFS_56_Q1_YOUNG_EDU_REG_TOTAL.sort_values(by=['REG_NEW', 'EDCODE_NEW'], inplace=True, ignore_index = True)

LFS_56_Q1_YOUNG_EDU_REG_TOTAL

    REG_NEW                    EDCODE_NEW            WT  Percentage
0         0          Less than elementary  1.193492e+05    2.609226
1         0                    Elementary  9.375864e+05   20.497614
2         0               Lower secondary  1.869713e+06   40.875866
3         0  Upper secondary or Associate  1.342664e+06   29.353472
4         0            Bachelor or higher  3.048116e+05    6.663823
5         1          Less than elementary  1.438370e+04    6.425044
6         1                    Elementary  3.446754e+04   15.396278
7         1               Lower secondary  8.057663e+04   35.992711
8         1  Upper secondary or Associate  5.163813e+04   23.066194
9         1            Bachelor or higher  4.280330e+04   19.119773
10        2          Less than elementary  4.171146e+04    5.314931
11        2                    Elementary  1.467885e+05   18.703990
12        2               Lower secondary  3.165828e+05   40.339422
13        2  Upper secondary or Associate  2.198526e+05   28.013923
14        2            Bachelor or higher  5.986228e+04    7.627734
15        3          Less than elementary  9.019102e+03    2.718158
16        3                    Elementary  4.905499e+04   14.784087
17        3               Lower secondary  1.331905e+05   40.140678
18        3  Upper secondary or Associate  1.173806e+05   35.375907
19        3            Bachelor or higher  2.316418e+04    6.981171
20        4          Less than elementary  3.093467e+04    3.837721
21        4                    Elementary  1.617873e+05   20.071152
22        4               Lower secondary  3.353550e+05   41.603771
23        4  Upper secondary or Associate  2.262893e+05   28.073204
24        4            Bachelor or higher  5.170248e+04    6.414153
25        5          Less than elementary  3.276069e+03    0.202888
26        5                    Elementary  3.089285e+05   19.132004
27        5               Lower secondary  7.211632e+05   44.661775
28        5  Upper secondary or Associate  5.089105e+05   31.516926
29        5            Bachelor or higher  7.244297e+04    4.486407
30        6          Less than elementary  2.002424e+04    2.463435
31        6                    Elementary  2.365596e+05   29.102191
32        6               Lower secondary  2.828449e+05   34.796331
33        6  Upper secondary or Associate  2.185933e+05   26.891928
34        6            Bachelor or higher  5.483636e+04    6.746116