In [18]:
## Importing libraries
import pandas as pd
import pyreadstat

In [19]:
### Import Labor force survey 
## 2556
LFS_56_Q1, meta_56_Q1 = pyreadstat.read_sav("D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\LFS\LFS561.SAV")

In [20]:
LFS_56_Q1

,REG,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_ND,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround
0,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
1,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
2,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
3,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
4,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226612,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226613,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226614,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226615,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0

In [21]:
### What does each column mean
meta_56_Q1.column_names_to_labels

{'REG': 'REGION',
 'CWD': 'CHANGWAD IN REGION',
 'AMP': None,
 'TMB': None,
 'AREA': 'AREA',
 'ED': None,
 'VILLAGE': None,
 'BLKV': None,
 'ROTA_GR': 'ROTATION GROUP',
 'SAMSET': 'SAMPLE SET',
 'MONTH': 'MONTH',
 'YEAR': 'YEAR',
 'HH_NO': 'HOUSEHOLD NUMBER',
 'HH_TYPE': 'HOUSEHOLD TYPE',
 'HH_MEM': 'NUMBER OF PERSON IN HOUSEHOLD',
 'LISTING': 'LISTING OF PERSON IN HOUSEHOLD',
 'ENUM': 'ENUMERATION',
 'LINE_NO': 'HH MEMBER NO.',
 'RELA': 'RELATION TO HEAD OF HH',
 'SEX': 'SEX',
 'AGE': 'AGE',
 'MRSTAT': 'MARITAL STATUS',
 'STUDYLEV': 'ATTENDING SCHOOL LEVEL',
 'GRADE': 'GRADE COMPLETED',
 'SUBJECT': 'SUBJECT COMPLETED',
 'LINE': 'SUBJECT FOR HIGHEST EDUCATION COMPLETED',
 'WKLW': 'WORK LAST WEEK',
 'RECEIVE': 'RECEIVE INCOME',
 'PERJOB': 'HAVE PERMANENT JOB',
 'ABSENT': 'HOW LONG LEAVE',
 'LOOKWK': 'LOOKED FOR WORK',
 'METHOD': 'HOW LOOKED FOR WORK',
 'AVAIWK': 'AVAILABLE FOR WORK',
 'REUNWK': 'REASON UNAVAILABLE FOR WORK',
 'RE_NLOOK': 'REASON NOT LOOKING FOR WORK',
 'LENLKWK': 'HOW LONG HAS BEEN LOOKING FOR WORK',
 'EVERWK': 'EVER WORKED BEFORE',
 'RESNUEMP': 'REASON UNEMPLOYED',
 'DR_UNEM': 'HOW LONG NOT WORKED',
 'OCCUP': 'OCCUPATION',
 'INDUST': 'INDUSTRY',
 'WKSTAT': 'WORK STATUS',
 'FIRMSIZE': 'FIRM SIZE',
 'HOUR_PO': 'HOURS WORKED FOR PRINCIPAL OCCUPATION',
 'HOUR_OO': 'HOURS WORKED FOR OTHER OCCUPATIONS',
 'TOTHOUR': 'TOTAL HOURS WORKED',
 'ADD_HWK': 'ADDITIONAL HOURS AVAILABLE FOR WORK',
 'MORE_HR': 'HOW HOUR PER WEEK TO MORE WORK',
 'FINDING': 'FINDING ANOTHER WORK',
 'RENOMORE': "REASON DON'T MORE WORK",
 'TWAGE': 'WAGE TYPE',
 'BAHT': 'BAHTS RECEIVED PER HOUR,DAY,WEEK,MONTH',
 'PERMONTH': 'AVERAGE WAGE RECEIVED PER MONTH',
 'BONUS': 'BONUS',
 'OTIME': 'OVER TIME (BAHT)',
 'OTHER': 'OTHERS (BAHT)',
 'FOOD': 'FOOD (BAHT)',
 'CLOTHES': 'CLOTHES (BAHT)',
 'LIV_QUA': 'LIVING QUART (BAHT)',
 'OTHTHING': 'OTHERS THING (BAHT)',
 'LASTMEM': 'LAST MEMBER',
 'WKCODE': 'WORK STATUS RECODE',
 'EDCODE': 'EDUCATION RECODE',
 'WT': 'WEIGHT',
 'RAISE_WG': 'สถานประกอบการได้ปรับอัตราค่าจ้างใหม่หรือไม่',
 'SUIT_WG': 'มีความคิดเห็นอย่างไรต่อการปรับอัตราค่าจ้างขั้นต่ำในปัจจุบัน',
 'EFFECT_ST': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 1',
 'EFFECT_ND': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 2',
 'EFFECT_RD': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 3',
 'LAY_OFF': 'ท่าน/สถานประกอบการเมื่อปรับอัตราค่าจ้างขั้นต่ำได้มีการเลิกจ้างบุคลากรด้วยหรือไม่',
 'ASSIST': 'ต้องการความช่วยเหลืออย่างไรต่อการปรับอัตราค่าจ้างขั้นต่ำ',
 'Desire': 'ต้องการพัฒนาขึดความสามารถในด้านใดด้านหนึ่งหรือไม่',
 'Course': 'ต้องการได้รับการพัฒนาขีดความสามารถในหลักสูตรใด/เรืองใด/ด้านใด',
 'Ryear': 'ในรอบปีที่ผ่านมาเคยได้รับการพัฒนาขีดความสามารถในหลักสูตร/เรื่อง/ด้านใดด้านหนึ่งจำนวนกี่หลักสูตร',
 'Dcourse': 'ได้รับการพัฒนาขึดความสามารถในหลักสูตร/เรื่อง/ด้านใด',
 'No_Desire': 'ทำไมจึงไม่ต้องการพัฒนาขีดความสามารถ',
 'yround': None}

In [22]:
## Label of each column
meta_56_Q1.variable_to_label

{'REG': 'labels0',
 'AREA': 'labels1',
 'HH_TYPE': 'labels2',
 'RELA': 'labels3',
 'SEX': 'labels4',
 'MRSTAT': 'labels5',
 'LINE': 'labels6',
 'WKLW': 'labels7',
 'RECEIVE': 'labels8',
 'PERJOB': 'labels9',
 'ABSENT': 'labels10',
 'LOOKWK': 'labels11',
 'METHOD': 'labels12',
 'AVAIWK': 'labels13',
 'REUNWK': 'labels14',
 'RE_NLOOK': 'labels15',
 'LENLKWK': 'labels16',
 'EVERWK': 'labels17',
 'RESNUEMP': 'labels18',
 'DR_UNEM': 'labels19',
 'WKSTAT': 'labels20',
 'FIRMSIZE': 'labels21',
 'ADD_HWK': 'labels22',
 'FINDING': 'labels23',
 'RENOMORE': 'labels24',
 'TWAGE': 'labels25',
 'LASTMEM': 'labels26',
 'RAISE_WG': 'labels27',
 'SUIT_WG': 'labels28',
 'EFFECT_ST': 'labels29',
 'EFFECT_ND': 'labels30',
 'EFFECT_RD': 'labels31',
 'LAY_OFF': 'labels32',
 'ASSIST': 'labels33',
 'Desire': 'labels34',
 'Ryear': 'labels35',
 'No_Desire': 'labels36'}

In [23]:
### Value labels (What does each value in each column mean)

meta_56_Q1.value_labels

{'labels0': {1.0: 'BANGKOK AND METROPOLIS',
  2.0: 'CENTRAL',
  3.0: 'NORTH',
  4.0: 'NORTHEAST',
  5.0: 'SOUTH'},
 'labels1': {1.0: 'MUNICIPAL', 2.0: 'NON-MUNICIPAL'},
 'labels2': {1.0: 'PRIVATE HOUSEHOLD', 2.0: 'SPECIAL HOUSEHOLD'},
 'labels3': {0.0: 'MEMBER IN SPECIAL HH',
  1.0: 'HEAD OF HH',
  2.0: 'SPOUSE',
  3.0: 'UNMARRIED CHILD',
  4.0: 'MARRIED CHILD',
  5.0: 'CHILD IN-LAW',
  6.0: 'GRAND CHILD',
  7.0: 'PARENTS',
  8.0: 'RELATIVES',
  9.0: 'OTHERS'},
 'labels4': {1.0: 'MALE', 2.0: 'FEMALE'},
 'labels5': {1.0: 'SINGLE',
  2.0: 'MARRIED',
  3.0: 'WIDOW',
  4.0: 'DIVORCED',
  5.0: 'SEPERATED',
  6.0: 'MARRIED BUT UNKNOWN'},
 'labels6': {1.0: 'ACADEMIC', 2.0: 'VOCATIONAL', 3.0: 'TEACHER TRAINING'},
 'labels7': {1.0: 'WORKED', 2.0: "DIDN'T WORK"},
 'labels8': {1.0: 'RECIEVED', 2.0: "DIN'T RECIEVED"},
 'labels9': {1.0: 'HAD', 2.0: "DIDN'T HAVE"},
 'labels10': {1.0: 'LE 2 MONTH', 2.0: 'GT 2 MONTH'},
 'labels11': {1.0: 'LOOKED 7 DAYS',
  2.0: 'LOOKED 8-30 DAYS',
  3.0: "DIDN'T LOOK"},
 'labels12': {1.0: 'NEWSPAPER',
  2.0: 'RADIO/TV',
  3.0: 'FRIEND',
  4.0: 'JOB AGENCY',
  5.0: 'FIND JOB DIRECTLY',
  6.0: 'LETTER',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels13': {1.0: 'AVIALABLE', 2.0: 'NOT AVAILABLE'},
 'labels14': {1.0: 'HOUSEHOLD WORK',
  2.0: 'STUDY',
  3.0: 'OFF SEASON',
  4.0: 'TOO YOUNG OR TOO OLD',
  5.0: 'INCAPABLE OF WORK',
  6.0: 'SPENT',
  7.0: 'RETIRE',
  8.0: 'OTHERS'},
 'labels15': {1.0: "THOUGHT CAN'T FIND JOB",
  2.0: "TRY BUT CAN'T FIND JOB",
  3.0: 'UNKNOWN TO FIND',
  4.0: "DIDN'T HAVE JOB TO FIT",
  5.0: 'BAD WEATHER',
  6.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels16': {1.0: 'LT 1 MONTH',
  2.0: '1-2.9 MONTH',
  3.0: '3-5.9 MONTH',
  4.0: '6-8.9 MONTH',
  5.0: '9-11.9 MONTH',
  6.0: 'GE 12 MONTH',
  9.0: 'UNKNOWN'},
 'labels17': {1.0: 'EVER', 2.0: 'NEVER'},
 'labels18': {1.0: 'FIRM QUIT',
  2.0: 'FIRED',
  3.0: 'CONTACT END',
  4.0: 'DEDUCTED RENUM',
  5.0: 'NOT CONTENT RENUM',
  6.0: 'JOB FINISH',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels19': {1.0: 'LT 1 MONTH',
  2.0: '1-2.9 MONTH',
  3.0: '3-5.9 MONTH',
  4.0: '6-8.9 MONTH',
  5.0: '9-11.9 MONTH',
  6.0: 'GE 12 MONTH',
  9.0: 'UNKNOWN'},
 'labels20': {1.0: 'EMPLOYER',
  2.0: 'OWN ACCOUNT',
  3.0: 'UNPAID FAMILY WORKERS',
  4.0: "GOV'T EMPLOYEE",
  5.0: 'STATE ENTERPRISE EMPLOYEE',
  6.0: 'PRIVATE EMPLOYEE',
  7.0: 'GROUP'},
 'labels21': {1.0: 'LT 4',
  2.0: '5-9',
  3.0: '10-19',
  4.0: '20-49',
  5.0: '50-99',
  6.0: '100-199',
  7.0: '200+',
  9.0: 'UNKNOWN'},
 'labels22': {1.0: 'HAVE', 2.0: "DIDN'T HAVE"},
 'labels23': {1.0: 'FINDED', 2.0: "DIN'T FIND"},
 'labels24': {1.0: 'BREAKDOWN MACHINE',
  2.0: 'DECREASING CAPACITY',
  3.0: 'STRIKE',
  4.0: "CAN'T FIND MORE JOB",
  5.0: 'SICK',
  6.0: 'BAD WEATHER',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels25': {1.0: 'HOUR',
  2.0: 'DAY',
  3.0: 'WEEK',
  4.0: 'MONTH',
  5.0: 'OTHERS',
  6.0: 'UNKNOWN',
  7.0: 'NON-ENUMERATE'},
 'labels26': {0.0: 'NOT LAST MEMBER', 1.0: 'LAST MEMBER'},
 'labels27': {1.0: 'ปรับ', 2.0: 'ไม่ปรับ', 3.0: 'ไม่ทราบ'},
 'labels28': {1.0: 'เหมาะสม', 2.0: 'ไม่เหมาะสม', 3.0: 'ไม่ทราบ'},
 'labels29': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels30': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels31': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels32': {1.0: 'เลิกจ้างทั้งหมด',
  2.0: 'เลิกจ้างบางส่วน',
  3.0: 'ไม่มีการเลิกจ้าง',
  9.0: 'ไม่ทราบ'},
 'labels33': {1.0: 'ไม่ต้องการความช่วยเหลือ',
  2.0: 'หาแหล่งเงินทุนให้',
  3.0: 'ลดอัตราดอกเบี้ยเงินกู้',
  4.0: 'หาแหล่งตลาดใหม่ๆ',
  5.0: 'เพิ่มอัตราการลดหย่อนภาษี',
  6.0: 'ช่วยเหลือค่าครองชีพประจำวัน',
  7.0: 'พัฒนาฝีมือแรงงาน',
  8.0: 'อื่นๆ',
  9.0: 'ไม่ทราบ'},
 'labels34': {1.0: 'ต้องการ', 2.0: 'ไม่ต้องการ'},
 'labels35': {0.0: 'ไม่เคย',
  1.0: '1 หลักสูตร',
  2.0: '2 หลักสูตร',
  3.0: '3 หลักสูตร',
  4.0: '4 หลักสูตร',
  5.0: 'มากกว่า 4 หลักสูตร'},
 'labels36': {1.0: 'ไม่รู้สถานที่/หน่วยงานที่ให้การพัฒนาฯ',
  2.0: 'ไม่มีเวลาว่างพอ',
  3.0: 'ไม่มีค่าใช้จ่ายที่ใช้ในการพัฒนา',
  4.0: 'ป่วย/พิการ',
  5.0: 'ชรา',
  6.0: 'ยังเด็ก/เรียนหนังสือ',
  7.0: 'ต้องการพักผ่อน',
  8.0: 'ไม่มีหลักสูตร/เรื่องที่ต้องการพัฒนาฯ',
  9.0: 'อื่นๆ'}}

In [24]:
## Import new province code.
New_province = pd.read_csv("D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\Province_code.csv")

## Merge with LFS.
LFS_56_Q1 = pd.merge(LFS_56_Q1, New_province[["REG_NEW", "CWD"]], how = 'left', left_on = 'CWD', right_on = 'CWD')

LFS_56_Q1

,REG,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround,REG_NEW
0,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
1,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
2,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
3,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,1
4,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0,6
226612,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0,6
226613,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6
226614,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6
226615,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6

In [25]:
## move REG_NEW to the first column, drop REG.
cols = LFS_56_Q1.columns.tolist()
cols = cols[-1:] + cols[:-1]
LFS_56_Q1 = LFS_56_Q1[cols]

## drop REG.
LFS_56_Q1 = LFS_56_Q1.drop(columns = ["REG"])

In [26]:
LFS_56_Q1

,REG_NEW,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_ND,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround
0,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
1,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
2,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
3,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
4,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226612,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226613,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226614,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226615,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0

###  Value labels of 'WKCODE': 'WORK STATUS RECODE', and 'EDCODE': 'EDUCATION RECODE'.
#### WKCODE

- 01-03: Employed
- 04-05: Unemployed
- 06-07, 09-13: Not in labor force &rarr; 01-05, 08: Labor force
- 08: Waiting for season.
- 14: Persons under 15 years old

#### EDCODE 

- 01-02: Less than elementary education
- 03: Elementary education
- 04: Lower secondary education
- 05-07: Upper secondary education
- 08-10: Post-secondary education
- 11-13: Bachelor degree education
- 14-15: Master degree education or higher
- 16-17: Other or unknown education (excluded from the analysis)

In [29]:
## Keep only labor force (WKCODE = 01-05, 08)
LFS_56_Q1 = LFS_56_Q1[(LFS_56_Q1["WKCODE"] >= 1) & (LFS_56_Q1["WKCODE"] <= 5) | (LFS_56_Q1["WKCODE"] == 8)]

## Regroup EDCODE to 8 categories.
def EDCODE_NEW(df):
    if df["EDCODE"] == 1 or 2:
        return "Less than elementary"
    elif df["EDCODE"] == 3:
        return "Elementary"
    elif df["EDCODE"] == 4:
        return "Lower secondary"
    elif df["EDCODE"] == 5 or 6 or 7:
        return "Upper secondary"
    elif df["EDCODE"] == 8 or 9 or 10:
        return "Post-secondary"
    elif df["EDCODE"] == 11 or 12 or 13:
        return "Bachelor"
    elif df["EDCODE"] == 14 or 15:
        return "Master or higher"
    else: 
        return "Other/Unknown"
    
## Apply the function to the dataframe.
LFS_56_Q1["EDCODE_NEW"] = LFS_56_Q1.apply(EDCODE_NEW, axis = 1)

In [32]:
## Check the total labor force (sum WT)
LFS_56_Q1["WT"].sum()

# correct!

39134120.8675

In [34]:
### Keep only the necessary columns: REG_NEW, YEAR, AGE, EDCODE, WKCODE, OCCUP, INDUST, PERMONTH, WT
LFS_56_Q1 = LFS_56_Q1[["REG_NEW", "YEAR", "AGE", "EDCODE", "EDCODE_NEW", "WKCODE", "OCCUP", "INDUST", "PERMONTH", "WT"]]

In [35]:
LFS_56_Q1

,REG_NEW,YEAR,AGE,EDCODE,EDCODE_NEW,WKCODE,OCCUP,INDUST,PERMONTH,WT
0,1,56.0,46.0,11.0,Less than elementary,1.0,5221.0,47711.0,NaN,877.8005
1,1,56.0,40.0,5.0,Less than elementary,1.0,5223.0,47711.0,NaN,881.6978
2,1,56.0,22.0,3.0,Less than elementary,1.0,9111.0,97000.0,6000.0,545.8329
4,1,56.0,77.0,2.0,Less than elementary,1.0,5221.0,47711.0,NaN,738.7725
5,1,56.0,42.0,11.0,Less than elementary,1.0,5223.0,47711.0,NaN,877.8005
...,...,...,...,...,...,...,...,...,...,...
226608,6,56.0,47.0,1.0,Less than elementary,1.0,6112.0,1261.0,NaN,378.8351
226609,6,56.0,40.0,3.0,Less than elementary,1.0,5120.0,85101.0,4500.0,421.1832
226610,6,56.0,21.0,3.0,Less than elementary,1.0,6112.0,1261.0,NaN,711.6193
226611,6,56.0,18.0,3.0,Less than elementary,1.0,6112.0,1261.0,NaN,677.1118
226612,6,56.0,16.0,4.0,Less than elementary,1.0,6112.0,1261.0,NaN,568.8458

In [16]:
### Tabulate the data. Get the number of people in each education level (7 categories), in each region (6 regions).
## Tabulate the data.

In [17]:
LFS_56_Q1__reg_total_edu

    REG_NEW  EDCODE           WT
0         1     1.0   72324.9038
1         1     2.0  440369.2675
2         1     3.0  637052.7794
3         1     4.0  545715.6605
4         1     5.0  423205.9412
..      ...     ...          ...
95        6    13.0  118497.5042
96        6    14.0   63538.1361
97        6    15.0    1150.5255
98        6    16.0    7592.2912
99        6    17.0   23781.0981

[100 rows x 3 columns]