In [22]:
## Importing libraries
import pandas as pd
import pyreadstat

In [23]:
### Import Labor force survey 
## 2556
LFS_56_Q1, meta_56_Q1 = pyreadstat.read_sav("D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\LFS\LFS561.SAV")

In [24]:
LFS_56_Q1

,REG,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_ND,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround
0,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
1,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
2,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
3,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
4,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226612,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226613,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226614,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226615,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0

In [25]:
### What does each column mean
meta_56_Q1.column_names_to_labels

{'REG': 'REGION',
 'CWD': 'CHANGWAD IN REGION',
 'AMP': None,
 'TMB': None,
 'AREA': 'AREA',
 'ED': None,
 'VILLAGE': None,
 'BLKV': None,
 'ROTA_GR': 'ROTATION GROUP',
 'SAMSET': 'SAMPLE SET',
 'MONTH': 'MONTH',
 'YEAR': 'YEAR',
 'HH_NO': 'HOUSEHOLD NUMBER',
 'HH_TYPE': 'HOUSEHOLD TYPE',
 'HH_MEM': 'NUMBER OF PERSON IN HOUSEHOLD',
 'LISTING': 'LISTING OF PERSON IN HOUSEHOLD',
 'ENUM': 'ENUMERATION',
 'LINE_NO': 'HH MEMBER NO.',
 'RELA': 'RELATION TO HEAD OF HH',
 'SEX': 'SEX',
 'AGE': 'AGE',
 'MRSTAT': 'MARITAL STATUS',
 'STUDYLEV': 'ATTENDING SCHOOL LEVEL',
 'GRADE': 'GRADE COMPLETED',
 'SUBJECT': 'SUBJECT COMPLETED',
 'LINE': 'SUBJECT FOR HIGHEST EDUCATION COMPLETED',
 'WKLW': 'WORK LAST WEEK',
 'RECEIVE': 'RECEIVE INCOME',
 'PERJOB': 'HAVE PERMANENT JOB',
 'ABSENT': 'HOW LONG LEAVE',
 'LOOKWK': 'LOOKED FOR WORK',
 'METHOD': 'HOW LOOKED FOR WORK',
 'AVAIWK': 'AVAILABLE FOR WORK',
 'REUNWK': 'REASON UNAVAILABLE FOR WORK',
 'RE_NLOOK': 'REASON NOT LOOKING FOR WORK',
 'LENLKWK': 'HOW LONG HAS BEEN LOOKING FOR WORK',
 'EVERWK': 'EVER WORKED BEFORE',
 'RESNUEMP': 'REASON UNEMPLOYED',
 'DR_UNEM': 'HOW LONG NOT WORKED',
 'OCCUP': 'OCCUPATION',
 'INDUST': 'INDUSTRY',
 'WKSTAT': 'WORK STATUS',
 'FIRMSIZE': 'FIRM SIZE',
 'HOUR_PO': 'HOURS WORKED FOR PRINCIPAL OCCUPATION',
 'HOUR_OO': 'HOURS WORKED FOR OTHER OCCUPATIONS',
 'TOTHOUR': 'TOTAL HOURS WORKED',
 'ADD_HWK': 'ADDITIONAL HOURS AVAILABLE FOR WORK',
 'MORE_HR': 'HOW HOUR PER WEEK TO MORE WORK',
 'FINDING': 'FINDING ANOTHER WORK',
 'RENOMORE': "REASON DON'T MORE WORK",
 'TWAGE': 'WAGE TYPE',
 'BAHT': 'BAHTS RECEIVED PER HOUR,DAY,WEEK,MONTH',
 'PERMONTH': 'AVERAGE WAGE RECEIVED PER MONTH',
 'BONUS': 'BONUS',
 'OTIME': 'OVER TIME (BAHT)',
 'OTHER': 'OTHERS (BAHT)',
 'FOOD': 'FOOD (BAHT)',
 'CLOTHES': 'CLOTHES (BAHT)',
 'LIV_QUA': 'LIVING QUART (BAHT)',
 'OTHTHING': 'OTHERS THING (BAHT)',
 'LASTMEM': 'LAST MEMBER',
 'WKCODE': 'WORK STATUS RECODE',
 'EDCODE': 'EDUCATION RECODE',
 'WT': 'WEIGHT',
 'RAISE_WG': 'สถานประกอบการได้ปรับอัตราค่าจ้างใหม่หรือไม่',
 'SUIT_WG': 'มีความคิดเห็นอย่างไรต่อการปรับอัตราค่าจ้างขั้นต่ำในปัจจุบัน',
 'EFFECT_ST': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 1',
 'EFFECT_ND': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 2',
 'EFFECT_RD': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 3',
 'LAY_OFF': 'ท่าน/สถานประกอบการเมื่อปรับอัตราค่าจ้างขั้นต่ำได้มีการเลิกจ้างบุคลากรด้วยหรือไม่',
 'ASSIST': 'ต้องการความช่วยเหลืออย่างไรต่อการปรับอัตราค่าจ้างขั้นต่ำ',
 'Desire': 'ต้องการพัฒนาขึดความสามารถในด้านใดด้านหนึ่งหรือไม่',
 'Course': 'ต้องการได้รับการพัฒนาขีดความสามารถในหลักสูตรใด/เรืองใด/ด้านใด',
 'Ryear': 'ในรอบปีที่ผ่านมาเคยได้รับการพัฒนาขีดความสามารถในหลักสูตร/เรื่อง/ด้านใดด้านหนึ่งจำนวนกี่หลักสูตร',
 'Dcourse': 'ได้รับการพัฒนาขึดความสามารถในหลักสูตร/เรื่อง/ด้านใด',
 'No_Desire': 'ทำไมจึงไม่ต้องการพัฒนาขีดความสามารถ',
 'yround': None}

In [26]:
## Label of each column
meta_56_Q1.variable_to_label

{'REG': 'labels0',
 'AREA': 'labels1',
 'HH_TYPE': 'labels2',
 'RELA': 'labels3',
 'SEX': 'labels4',
 'MRSTAT': 'labels5',
 'LINE': 'labels6',
 'WKLW': 'labels7',
 'RECEIVE': 'labels8',
 'PERJOB': 'labels9',
 'ABSENT': 'labels10',
 'LOOKWK': 'labels11',
 'METHOD': 'labels12',
 'AVAIWK': 'labels13',
 'REUNWK': 'labels14',
 'RE_NLOOK': 'labels15',
 'LENLKWK': 'labels16',
 'EVERWK': 'labels17',
 'RESNUEMP': 'labels18',
 'DR_UNEM': 'labels19',
 'WKSTAT': 'labels20',
 'FIRMSIZE': 'labels21',
 'ADD_HWK': 'labels22',
 'FINDING': 'labels23',
 'RENOMORE': 'labels24',
 'TWAGE': 'labels25',
 'LASTMEM': 'labels26',
 'RAISE_WG': 'labels27',
 'SUIT_WG': 'labels28',
 'EFFECT_ST': 'labels29',
 'EFFECT_ND': 'labels30',
 'EFFECT_RD': 'labels31',
 'LAY_OFF': 'labels32',
 'ASSIST': 'labels33',
 'Desire': 'labels34',
 'Ryear': 'labels35',
 'No_Desire': 'labels36'}

In [27]:
### Value labels (What does each value in each column mean)

meta_56_Q1.value_labels

{'labels0': {1.0: 'BANGKOK AND METROPOLIS',
  2.0: 'CENTRAL',
  3.0: 'NORTH',
  4.0: 'NORTHEAST',
  5.0: 'SOUTH'},
 'labels1': {1.0: 'MUNICIPAL', 2.0: 'NON-MUNICIPAL'},
 'labels2': {1.0: 'PRIVATE HOUSEHOLD', 2.0: 'SPECIAL HOUSEHOLD'},
 'labels3': {0.0: 'MEMBER IN SPECIAL HH',
  1.0: 'HEAD OF HH',
  2.0: 'SPOUSE',
  3.0: 'UNMARRIED CHILD',
  4.0: 'MARRIED CHILD',
  5.0: 'CHILD IN-LAW',
  6.0: 'GRAND CHILD',
  7.0: 'PARENTS',
  8.0: 'RELATIVES',
  9.0: 'OTHERS'},
 'labels4': {1.0: 'MALE', 2.0: 'FEMALE'},
 'labels5': {1.0: 'SINGLE',
  2.0: 'MARRIED',
  3.0: 'WIDOW',
  4.0: 'DIVORCED',
  5.0: 'SEPERATED',
  6.0: 'MARRIED BUT UNKNOWN'},
 'labels6': {1.0: 'ACADEMIC', 2.0: 'VOCATIONAL', 3.0: 'TEACHER TRAINING'},
 'labels7': {1.0: 'WORKED', 2.0: "DIDN'T WORK"},
 'labels8': {1.0: 'RECIEVED', 2.0: "DIN'T RECIEVED"},
 'labels9': {1.0: 'HAD', 2.0: "DIDN'T HAVE"},
 'labels10': {1.0: 'LE 2 MONTH', 2.0: 'GT 2 MONTH'},
 'labels11': {1.0: 'LOOKED 7 DAYS',
  2.0: 'LOOKED 8-30 DAYS',
  3.0: "DIDN'T LOOK"},
 'labels12': {1.0: 'NEWSPAPER',
  2.0: 'RADIO/TV',
  3.0: 'FRIEND',
  4.0: 'JOB AGENCY',
  5.0: 'FIND JOB DIRECTLY',
  6.0: 'LETTER',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels13': {1.0: 'AVIALABLE', 2.0: 'NOT AVAILABLE'},
 'labels14': {1.0: 'HOUSEHOLD WORK',
  2.0: 'STUDY',
  3.0: 'OFF SEASON',
  4.0: 'TOO YOUNG OR TOO OLD',
  5.0: 'INCAPABLE OF WORK',
  6.0: 'SPENT',
  7.0: 'RETIRE',
  8.0: 'OTHERS'},
 'labels15': {1.0: "THOUGHT CAN'T FIND JOB",
  2.0: "TRY BUT CAN'T FIND JOB",
  3.0: 'UNKNOWN TO FIND',
  4.0: "DIDN'T HAVE JOB TO FIT",
  5.0: 'BAD WEATHER',
  6.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels16': {1.0: 'LT 1 MONTH',
  2.0: '1-2.9 MONTH',
  3.0: '3-5.9 MONTH',
  4.0: '6-8.9 MONTH',
  5.0: '9-11.9 MONTH',
  6.0: 'GE 12 MONTH',
  9.0: 'UNKNOWN'},
 'labels17': {1.0: 'EVER', 2.0: 'NEVER'},
 'labels18': {1.0: 'FIRM QUIT',
  2.0: 'FIRED',
  3.0: 'CONTACT END',
  4.0: 'DEDUCTED RENUM',
  5.0: 'NOT CONTENT RENUM',
  6.0: 'JOB FINISH',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels19': {1.0: 'LT 1 MONTH',
  2.0: '1-2.9 MONTH',
  3.0: '3-5.9 MONTH',
  4.0: '6-8.9 MONTH',
  5.0: '9-11.9 MONTH',
  6.0: 'GE 12 MONTH',
  9.0: 'UNKNOWN'},
 'labels20': {1.0: 'EMPLOYER',
  2.0: 'OWN ACCOUNT',
  3.0: 'UNPAID FAMILY WORKERS',
  4.0: "GOV'T EMPLOYEE",
  5.0: 'STATE ENTERPRISE EMPLOYEE',
  6.0: 'PRIVATE EMPLOYEE',
  7.0: 'GROUP'},
 'labels21': {1.0: 'LT 4',
  2.0: '5-9',
  3.0: '10-19',
  4.0: '20-49',
  5.0: '50-99',
  6.0: '100-199',
  7.0: '200+',
  9.0: 'UNKNOWN'},
 'labels22': {1.0: 'HAVE', 2.0: "DIDN'T HAVE"},
 'labels23': {1.0: 'FINDED', 2.0: "DIN'T FIND"},
 'labels24': {1.0: 'BREAKDOWN MACHINE',
  2.0: 'DECREASING CAPACITY',
  3.0: 'STRIKE',
  4.0: "CAN'T FIND MORE JOB",
  5.0: 'SICK',
  6.0: 'BAD WEATHER',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels25': {1.0: 'HOUR',
  2.0: 'DAY',
  3.0: 'WEEK',
  4.0: 'MONTH',
  5.0: 'OTHERS',
  6.0: 'UNKNOWN',
  7.0: 'NON-ENUMERATE'},
 'labels26': {0.0: 'NOT LAST MEMBER', 1.0: 'LAST MEMBER'},
 'labels27': {1.0: 'ปรับ', 2.0: 'ไม่ปรับ', 3.0: 'ไม่ทราบ'},
 'labels28': {1.0: 'เหมาะสม', 2.0: 'ไม่เหมาะสม', 3.0: 'ไม่ทราบ'},
 'labels29': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels30': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels31': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels32': {1.0: 'เลิกจ้างทั้งหมด',
  2.0: 'เลิกจ้างบางส่วน',
  3.0: 'ไม่มีการเลิกจ้าง',
  9.0: 'ไม่ทราบ'},
 'labels33': {1.0: 'ไม่ต้องการความช่วยเหลือ',
  2.0: 'หาแหล่งเงินทุนให้',
  3.0: 'ลดอัตราดอกเบี้ยเงินกู้',
  4.0: 'หาแหล่งตลาดใหม่ๆ',
  5.0: 'เพิ่มอัตราการลดหย่อนภาษี',
  6.0: 'ช่วยเหลือค่าครองชีพประจำวัน',
  7.0: 'พัฒนาฝีมือแรงงาน',
  8.0: 'อื่นๆ',
  9.0: 'ไม่ทราบ'},
 'labels34': {1.0: 'ต้องการ', 2.0: 'ไม่ต้องการ'},
 'labels35': {0.0: 'ไม่เคย',
  1.0: '1 หลักสูตร',
  2.0: '2 หลักสูตร',
  3.0: '3 หลักสูตร',
  4.0: '4 หลักสูตร',
  5.0: 'มากกว่า 4 หลักสูตร'},
 'labels36': {1.0: 'ไม่รู้สถานที่/หน่วยงานที่ให้การพัฒนาฯ',
  2.0: 'ไม่มีเวลาว่างพอ',
  3.0: 'ไม่มีค่าใช้จ่ายที่ใช้ในการพัฒนา',
  4.0: 'ป่วย/พิการ',
  5.0: 'ชรา',
  6.0: 'ยังเด็ก/เรียนหนังสือ',
  7.0: 'ต้องการพักผ่อน',
  8.0: 'ไม่มีหลักสูตร/เรื่องที่ต้องการพัฒนาฯ',
  9.0: 'อื่นๆ'}}

In [28]:
## Import new province code.
New_province = pd.read_csv("D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\Province_code.csv")

## Merge with LFS.
LFS_56_Q1 = pd.merge(LFS_56_Q1, New_province[["REG_NEW", "CWD"]], how = 'left', left_on = 'CWD', right_on = 'CWD')

LFS_56_Q1

,REG,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround,REG_NEW
0,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
1,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
2,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0,1
3,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,1
4,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0,6
226612,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0,6
226613,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6
226614,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6
226615,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0,6

In [29]:
## move REG_NEW to the first column, drop REG.
cols = LFS_56_Q1.columns.tolist()
cols = cols[-1:] + cols[:-1]
LFS_56_Q1 = LFS_56_Q1[cols]

## drop REG.
LFS_56_Q1 = LFS_56_Q1.drop(columns = ["REG"])

In [30]:
LFS_56_Q1

,REG_NEW,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_ND,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround
0,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
1,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
2,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
3,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
4,1,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226612,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226613,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226614,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226615,6,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0

###  Value labels of 'WKCODE': 'WORK STATUS RECODE', and 'EDCODE': 'EDUCATION RECODE'.
#### WKCODE

- 01-03: Employed
- 04-05: Unemployed
- 06-07, 09-13: Not in labor force &rarr; 01-05, 08: Labor force
- 08: Waiting for season.
- 14: Persons under 15 years old

#### EDCODE 

For 2528 - 2543:
- 01-03: Less than elementary education
- 04: Elementary education
- 05: Lower secondary education


For 2544 - 2549:


For 2550 - recent:
- 01-02: Less than elementary education
- 03: Elementary education
- 04: Lower secondary education
- 05-07: Upper secondary education
- 08-10: Post-secondary education
- 11-13: Bachelor degree education
- 14-15: Master degree education or higher
- 16-17: Other or unknown education (excluded from the analysis)

In [43]:
## Keep only labor force (WKCODE = 01-05, 08)
LFS_56_Q1 = LFS_56_Q1[(LFS_56_Q1["WKCODE"] >= 1) & (LFS_56_Q1["WKCODE"] <= 5) | (LFS_56_Q1["WKCODE"] == 8)]

## Regroup EDCODE to 8 categories.
def EDCODE_NEW(df):
    if df["EDCODE"] < 2:
        return "Less than elementary"
    elif df["EDCODE"] == 3:
        return "Elementary"
    elif df["EDCODE"] == 4:
        return "Lower secondary"
    elif (df["EDCODE"] >= 5) & (df["EDCODE"] <= 7):
        return "Upper secondary"
    elif (df["EDCODE"] >= 8) & (df["EDCODE"] <= 10):
        return "Associate"
    elif (df["EDCODE"] >= 11) & (df["EDCODE"] <= 13):
        return "Bachelor"
    elif df["EDCODE"] >= 14:
        return "Master or higher"
    else: 
        return "Other/Unknown"
    
## Apply the function to the dataframe.
LFS_56_Q1["EDCODE_NEW"] = LFS_56_Q1.apply(EDCODE_NEW, axis = 1)

In [44]:
## Check the total labor force (sum WT)
LFS_56_Q1["WT"].sum()

# correct!

39134120.8675

In [45]:
### Keep only the necessary columns: REG_NEW, YEAR, AGE, EDCODE, WKCODE, OCCUP, INDUST, PERMONTH, WT
LFS_56_Q1 = LFS_56_Q1[["REG_NEW", "YEAR", "AGE", "EDCODE", "EDCODE_NEW", "WKCODE", "OCCUP", "INDUST", "PERMONTH", "WT"]]

In [46]:
LFS_56_Q1

,REG_NEW,YEAR,AGE,EDCODE,EDCODE_NEW,WKCODE,OCCUP,INDUST,PERMONTH,WT
0,1,56.0,46.0,11.0,Bachelor,1.0,5221.0,47711.0,NaN,877.8005
1,1,56.0,40.0,5.0,Upper secondary,1.0,5223.0,47711.0,NaN,881.6978
2,1,56.0,22.0,3.0,Elementary,1.0,9111.0,97000.0,6000.0,545.8329
4,1,56.0,77.0,2.0,Other/Unknown,1.0,5221.0,47711.0,NaN,738.7725
5,1,56.0,42.0,11.0,Bachelor,1.0,5223.0,47711.0,NaN,877.8005
...,...,...,...,...,...,...,...,...,...,...
226608,6,56.0,47.0,1.0,Less than elementary,1.0,6112.0,1261.0,NaN,378.8351
226609,6,56.0,40.0,3.0,Elementary,1.0,5120.0,85101.0,4500.0,421.1832
226610,6,56.0,21.0,3.0,Elementary,1.0,6112.0,1261.0,NaN,711.6193
226611,6,56.0,18.0,3.0,Elementary,1.0,6112.0,1261.0,NaN,677.1118
226612,6,56.0,16.0,4.0,Lower secondary,1.0,6112.0,1261.0,NaN,568.8458

## Examine employment in the three broad sectors: agriculture, industry, and services.

From 2528 - 2543, the standard is ISIC Rev (4 digits)1:
- Agriculture: 01-04
- Industry: 11-52
- Services: 61-90

From 2544 - 2553, the standard is ISIC Rev 3. (4 digits):
- Agriculture: 01-05
- Industry: 10-45
- Services: 50-99

From 2554 - recent years, the standard is TSIC 2009 (5 digits):
- Agriculture: 01-03
- Industry: 05-43
- Services: 45-99

## Examine education level.

In [56]:
### Tabulate the data. Get the number of people in each education level (7 categories), in each region (6 regions).
## Tabulate the data.
LFS_56_Q1_EDU_REG_TOTAL = LFS_56_Q1.groupby(["REG_NEW", "EDCODE_NEW"]).agg({"WT": "sum"}).reset_index() ## Don't sort by the alphabetical order.

## Exclude the "Other/Unknown" category.
LFS_56_Q1_EDU_REG_TOTAL = LFS_56_Q1_EDU_REG_TOTAL[LFS_56_Q1_EDU_REG_TOTAL["EDCODE_NEW"] != "Other/Unknown"].reset_index(drop=True) ## drop previous index (otherwise it becomes a new column)

## Create a new column for the percentage of each education level in each region.
LFS_56_Q1_EDU_REG_TOTAL["Percentage"] = LFS_56_Q1_EDU_REG_TOTAL.groupby("REG_NEW")["WT"].apply(lambda x: x/x.sum()*100).reset_index().WT

In [57]:
## Compute the total number of people in each education level at the national level
LFS_56_Q1_EDU_NAT_TOTAL = LFS_56_Q1_EDU_REG_TOTAL.groupby(["EDCODE_NEW"]).agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0. 
LFS_56_Q1_EDU_NAT_TOTAL["REG_NEW"] = 0

# Make REG_NEW the first column.
cols = LFS_56_Q1_EDU_NAT_TOTAL.columns.tolist()
cols = cols[-1:] + cols[:-1]
LFS_56_Q1_EDU_NAT_TOTAL = LFS_56_Q1_EDU_NAT_TOTAL[cols]

## Create a new column for the percentage of each education level
LFS_56_Q1_EDU_NAT_TOTAL["Percentage"] = LFS_56_Q1_EDU_NAT_TOTAL["WT"]/LFS_56_Q1_EDU_NAT_TOTAL["WT"].sum()*100

In [58]:

## Concatenate the national level data to the regional level data.
LFS_56_Q1_EDU_REG_TOTAL = pd.concat([LFS_56_Q1_EDU_NAT_TOTAL, LFS_56_Q1_EDU_REG_TOTAL], axis = 0).reset_index(drop=True) ## drop previous index entirely.

In [59]:

## remove the dataframes that are no longer needed.
del LFS_56_Q1_EDU_NAT_TOTAL

In [60]:
### Sort the table by EDCODE_NEW.
custom_dict_edu = {'Less than elementary': 0, 'Elementary': 1, 'Lower secondary': 2, 'Upper secondary': 3, 'Associate': 4, 'Bachelor': 5, 'Master or higher': 6, 'Other/Unknown': 7}

# Convert EDCODE_NEW to an ordered categorical data type
LFS_56_Q1_EDU_REG_TOTAL['EDCODE_NEW'] = pd.Categorical(LFS_56_Q1_EDU_REG_TOTAL['EDCODE_NEW'], categories=custom_dict_edu.keys(), ordered=True)

# Sort the table by EDCODE_NEW and REG_NEW
LFS_56_Q1_EDU_REG_TOTAL.sort_values(by=['REG_NEW', 'EDCODE_NEW'], inplace=True)

In [61]:
LFS_56_Q1_EDU_REG_TOTAL

    REG_NEW            EDCODE_NEW            WT  Percentage
3         0  Less than elementary  1.308194e+06    4.419124
2         0            Elementary  9.091405e+06   30.711070
4         0       Lower secondary  6.374162e+06   21.532135
6         0       Upper secondary  5.753310e+06   19.434875
0         0             Associate  1.821332e+06    6.152520
1         0              Bachelor  4.441551e+06   15.003707
5         0      Master or higher  8.130678e+05    2.746570
10        1  Less than elementary  7.232490e+04    2.056119
9         1            Elementary  6.370528e+05   18.110724
11        1       Lower secondary  5.457157e+05   15.514109
13        1       Upper secondary  6.548313e+05   18.616148
7         1             Associate  2.265360e+05    6.440175
8         1              Bachelor  1.107692e+06   31.490501
12        1      Master or higher  2.733914e+05    7.772224
17        2  Less than elementary  3.060919e+05    5.524999
16        2            Elementary  1.473716e+06   26.600770
18        2       Lower secondary  1.243102e+06   22.438153
20        2       Upper secondary  1.121708e+06   20.246973
14        2             Associate  3.906067e+05    7.050503
15        2              Bachelor  8.455974e+05   15.263148
19        2      Master or higher  1.593037e+05    2.875453
24        3  Less than elementary  6.758231e+04    3.359030
23        3            Elementary  5.639569e+05   28.030237
25        3       Lower secondary  4.759176e+05   23.654441
27        3       Upper secondary  4.110024e+05   20.427972
21        3             Associate  1.574914e+05    7.827763
22        3              Bachelor  2.735701e+05   13.597200
26        3      Master or higher  6.243826e+04    3.103357
31        4  Less than elementary  5.254819e+05   10.336119
30        4            Elementary  1.533252e+06   30.158751
32        4       Lower secondary  1.072709e+06   21.099971
34        4       Upper secondary  9.101422e+05   17.902308
28        4             Associate  3.039968e+05    5.979555
29        4              Bachelor  6.440566e+05   12.668460
33        4      Master or higher  9.429871e+04    1.854836
38        5  Less than elementary  1.242389e+05    1.373274
37        5            Elementary  3.516148e+06   38.865718
39        5       Lower secondary  2.086509e+06   23.063212
41        5       Upper secondary  1.814387e+06   20.055313
35        5             Associate  4.381188e+05    4.842743
36        5              Bachelor  9.399387e+05   10.389606
40        5      Master or higher  1.275737e+05    1.410135
45        6  Less than elementary  2.124745e+05    4.826177
44        6            Elementary  1.367279e+06   31.056581
46        6       Lower secondary  9.502091e+05   21.583193
48        6       Upper secondary  8.412399e+05   19.108050
42        6             Associate  3.045820e+05    6.918321
43        6              Bachelor  6.306953e+05   14.325709
47        6      Master or higher  9.606205e+04    2.181968

In [62]:
## Focus on young labor force (15-24) which is those who just entered the labor market.
LFS_56_Q1_YOUNG = LFS_56_Q1[LFS_56_Q1["AGE"] <= 24]

In [64]:
#### Repeat the same process of tabulating the data. Focus on education level.
## Tabulate the data.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = LFS_56_Q1_YOUNG.groupby(["REG_NEW", "EDCODE_NEW"]).agg({"WT": "sum"}).reset_index() ## Don't sort by the alphabetical order.

## Exclude the "Other/Unknown" category.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = LFS_56_Q1_YOUNG_EDU_REG_TOTAL[LFS_56_Q1_YOUNG_EDU_REG_TOTAL["EDCODE_NEW"] != "Other/Unknown"].reset_index(drop=True) ## drop previous index (otherwise it becomes a new column)

## Create a new column for the percentage of each education level in each region.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL["Percentage"] = LFS_56_Q1_YOUNG_EDU_REG_TOTAL.groupby("REG_NEW")["WT"].apply(lambda x: x/x.sum()*100).reset_index().WT

## Compute the total number of people in each education level at the national level
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL = LFS_56_Q1_YOUNG_EDU_REG_TOTAL.groupby(["EDCODE_NEW"]).agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0.
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["REG_NEW"] = 0

# Make REG_NEW the first column.
cols = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL.columns.tolist()

cols = cols[-1:] + cols[:-1]
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL[cols]

## Create a new column for the percentage of each education level
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["Percentage"] = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["WT"]/LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["WT"].sum()*100

## Concatenate the national level data to the regional level data.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = pd.concat([LFS_56_Q1_YOUNG_EDU_NAT_TOTAL, LFS_56_Q1_YOUNG_EDU_REG_TOTAL], axis = 0).reset_index(drop=True) ## drop previous index entirely.

## remove the dataframes that are no longer needed.
del LFS_56_Q1_YOUNG_EDU_NAT_TOTAL

### Sort the table by EDCODE_NEW.
custom_dict_edu = {'Less than elementary': 0, 'Elementary': 1, 'Lower secondary': 2, 'Upper secondary': 3, 'Associate': 4, 'Bachelor': 5, 'Master or higher': 6, 'Other/Unknown': 7}

# Convert EDCODE_NEW to an ordered categorical data type
LFS_56_Q1_YOUNG_EDU_REG_TOTAL['EDCODE_NEW'] = pd.Categorical(LFS_56_Q1_YOUNG_EDU_REG_TOTAL['EDCODE_NEW'], categories=custom_dict_edu.keys(), ordered=True)

# Sort the table by EDCODE_NEW and REG_NEW
LFS_56_Q1_YOUNG_EDU_REG_TOTAL.sort_values(by=['REG_NEW', 'EDCODE_NEW'], inplace=True)

LFS_56_Q1_YOUNG_EDU_REG_TOTAL

    REG_NEW            EDCODE_NEW            WT  Percentage
3         0  Less than elementary  1.185253e+05    2.587177
2         0            Elementary  9.304796e+05   20.310555
4         0       Lower secondary  1.864463e+06   40.697583
6         0       Upper secondary  1.077475e+06   23.519184
0         0             Associate  2.651891e+05    5.788561
1         0              Bachelor  3.036661e+05    6.628439
5         0      Master or higher  2.146328e+04    0.468501
10        1  Less than elementary  1.438370e+04    6.378087
9         1            Elementary  3.446754e+04   15.283753
11        1       Lower secondary  8.057663e+04   35.729656
13        1       Upper secondary  4.256657e+04   18.875060
7         1             Associate  9.071562e+03    4.022553
8         1              Bachelor  4.229298e+04   18.753744
12        1      Master or higher  2.158533e+03    0.957147
17        2  Less than elementary  4.129439e+04    5.218838
16        2            Elementary  1.445954e+05   18.274149
18        2       Lower secondary  3.138699e+05   39.667286
20        2       Upper secondary  1.699475e+05   21.478186
14        2             Associate  4.990511e+04    6.307073
15        2              Bachelor  5.976733e+04    7.553473
19        2      Master or higher  1.187671e+04    1.500995
24        3  Less than elementary  9.019102e+03    2.703485
23        3            Elementary  4.824893e+04   14.462667
25        3       Lower secondary  1.325684e+05   39.737504
27        3       Upper secondary  8.854113e+04   26.540297
21        3             Associate  2.883944e+04    8.644654
22        3              Bachelor  2.316418e+04    6.943487
26        3      Master or higher  3.229033e+03    0.967906
31        4  Less than elementary  3.093467e+04    3.832404
30        4            Elementary  1.617024e+05   20.032827
32        4       Lower secondary  3.351337e+05   41.518718
34        4       Upper secondary  1.846085e+05   22.870593
28        4             Associate  4.168086e+04    5.163718
29        4              Bachelor  5.170248e+04    6.405267
33        4      Master or higher  1.424479e+03    0.176474
38        5  Less than elementary  3.276069e+03    0.203375
37        5            Elementary  3.057049e+05   18.977845
39        5       Lower secondary  7.199216e+05   44.691984
41        5       Upper secondary  4.190118e+05   26.011817
35        5             Associate  8.989870e+04    5.580818
36        5              Bachelor  7.194116e+04    4.466032
40        5      Master or higher  1.097462e+03    0.068129
45        6  Less than elementary  1.961741e+04    2.413445
44        6            Elementary  2.357605e+05   29.004584
46        6       Lower secondary  2.823925e+05   34.741516
48        6       Upper secondary  1.727998e+05   21.258812
42        6             Associate  4.579343e+04    5.633767
43        6              Bachelor  5.479798e+04    6.741556
47        6      Master or higher  1.677054e+03    0.206321