In [81]:
## Importing libraries
import pandas as pd
import pyreadstat
import numpy as np

## Get a first look at the data

In [82]:
### Import Labor force survey 
## 2556 Q1
LFS_56_Q1, meta_56_Q1 = pyreadstat.read_sav("D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\LFS\LFS561.SAV")

In [83]:
LFS_56_Q1

,REG,CWD,AMP,TMB,AREA,ED,VILLAGE,BLKV,ROTA_GR,SAMSET,...,EFFECT_ND,EFFECT_RD,LAY_OFF,ASSIST,Desire,Course,Ryear,Dcourse,No_Desire,yround
0,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
1,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
2,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,561.0
3,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
4,1.0,10.0,1.0,2.0,1.0,17.0,0.0,151.0,2.0,A,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,5.0,561.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226611,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226612,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,1.0,31.0,0.0,NaN,NaN,561.0
226613,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226614,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0
226615,5.0,96.0,13.0,3.0,2.0,9.0,7.0,54.0,3.0,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561.0

In [84]:
### What does each column mean
meta_56_Q1.column_names_to_labels

{'REG': 'REGION',
 'CWD': 'CHANGWAD IN REGION',
 'AMP': None,
 'TMB': None,
 'AREA': 'AREA',
 'ED': None,
 'VILLAGE': None,
 'BLKV': None,
 'ROTA_GR': 'ROTATION GROUP',
 'SAMSET': 'SAMPLE SET',
 'MONTH': 'MONTH',
 'YEAR': 'YEAR',
 'HH_NO': 'HOUSEHOLD NUMBER',
 'HH_TYPE': 'HOUSEHOLD TYPE',
 'HH_MEM': 'NUMBER OF PERSON IN HOUSEHOLD',
 'LISTING': 'LISTING OF PERSON IN HOUSEHOLD',
 'ENUM': 'ENUMERATION',
 'LINE_NO': 'HH MEMBER NO.',
 'RELA': 'RELATION TO HEAD OF HH',
 'SEX': 'SEX',
 'AGE': 'AGE',
 'MRSTAT': 'MARITAL STATUS',
 'STUDYLEV': 'ATTENDING SCHOOL LEVEL',
 'GRADE': 'GRADE COMPLETED',
 'SUBJECT': 'SUBJECT COMPLETED',
 'LINE': 'SUBJECT FOR HIGHEST EDUCATION COMPLETED',
 'WKLW': 'WORK LAST WEEK',
 'RECEIVE': 'RECEIVE INCOME',
 'PERJOB': 'HAVE PERMANENT JOB',
 'ABSENT': 'HOW LONG LEAVE',
 'LOOKWK': 'LOOKED FOR WORK',
 'METHOD': 'HOW LOOKED FOR WORK',
 'AVAIWK': 'AVAILABLE FOR WORK',
 'REUNWK': 'REASON UNAVAILABLE FOR WORK',
 'RE_NLOOK': 'REASON NOT LOOKING FOR WORK',
 'LENLKWK': 'HOW LONG HAS BEEN LOOKING FOR WORK',
 'EVERWK': 'EVER WORKED BEFORE',
 'RESNUEMP': 'REASON UNEMPLOYED',
 'DR_UNEM': 'HOW LONG NOT WORKED',
 'OCCUP': 'OCCUPATION',
 'INDUST': 'INDUSTRY',
 'WKSTAT': 'WORK STATUS',
 'FIRMSIZE': 'FIRM SIZE',
 'HOUR_PO': 'HOURS WORKED FOR PRINCIPAL OCCUPATION',
 'HOUR_OO': 'HOURS WORKED FOR OTHER OCCUPATIONS',
 'TOTHOUR': 'TOTAL HOURS WORKED',
 'ADD_HWK': 'ADDITIONAL HOURS AVAILABLE FOR WORK',
 'MORE_HR': 'HOW HOUR PER WEEK TO MORE WORK',
 'FINDING': 'FINDING ANOTHER WORK',
 'RENOMORE': "REASON DON'T MORE WORK",
 'TWAGE': 'WAGE TYPE',
 'BAHT': 'BAHTS RECEIVED PER HOUR,DAY,WEEK,MONTH',
 'PERMONTH': 'AVERAGE WAGE RECEIVED PER MONTH',
 'BONUS': 'BONUS',
 'OTIME': 'OVER TIME (BAHT)',
 'OTHER': 'OTHERS (BAHT)',
 'FOOD': 'FOOD (BAHT)',
 'CLOTHES': 'CLOTHES (BAHT)',
 'LIV_QUA': 'LIVING QUART (BAHT)',
 'OTHTHING': 'OTHERS THING (BAHT)',
 'LASTMEM': 'LAST MEMBER',
 'WKCODE': 'WORK STATUS RECODE',
 'EDCODE': 'EDUCATION RECODE',
 'WT': 'WEIGHT',
 'RAISE_WG': 'สถานประกอบการได้ปรับอัตราค่าจ้างใหม่หรือไม่',
 'SUIT_WG': 'มีความคิดเห็นอย่างไรต่อการปรับอัตราค่าจ้างขั้นต่ำในปัจจุบัน',
 'EFFECT_ST': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 1',
 'EFFECT_ND': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 2',
 'EFFECT_RD': 'คิดว่าการปรับอัตราค่าจ้างขั้นต่ำมีผลกระทบต่อตัวท่านอย่างไร ลำดับที่ 3',
 'LAY_OFF': 'ท่าน/สถานประกอบการเมื่อปรับอัตราค่าจ้างขั้นต่ำได้มีการเลิกจ้างบุคลากรด้วยหรือไม่',
 'ASSIST': 'ต้องการความช่วยเหลืออย่างไรต่อการปรับอัตราค่าจ้างขั้นต่ำ',
 'Desire': 'ต้องการพัฒนาขึดความสามารถในด้านใดด้านหนึ่งหรือไม่',
 'Course': 'ต้องการได้รับการพัฒนาขีดความสามารถในหลักสูตรใด/เรืองใด/ด้านใด',
 'Ryear': 'ในรอบปีที่ผ่านมาเคยได้รับการพัฒนาขีดความสามารถในหลักสูตร/เรื่อง/ด้านใดด้านหนึ่งจำนวนกี่หลักสูตร',
 'Dcourse': 'ได้รับการพัฒนาขึดความสามารถในหลักสูตร/เรื่อง/ด้านใด',
 'No_Desire': 'ทำไมจึงไม่ต้องการพัฒนาขีดความสามารถ',
 'yround': None}

In [85]:
## Label of each column
meta_56_Q1.variable_to_label

{'REG': 'labels0',
 'AREA': 'labels1',
 'HH_TYPE': 'labels2',
 'RELA': 'labels3',
 'SEX': 'labels4',
 'MRSTAT': 'labels5',
 'LINE': 'labels6',
 'WKLW': 'labels7',
 'RECEIVE': 'labels8',
 'PERJOB': 'labels9',
 'ABSENT': 'labels10',
 'LOOKWK': 'labels11',
 'METHOD': 'labels12',
 'AVAIWK': 'labels13',
 'REUNWK': 'labels14',
 'RE_NLOOK': 'labels15',
 'LENLKWK': 'labels16',
 'EVERWK': 'labels17',
 'RESNUEMP': 'labels18',
 'DR_UNEM': 'labels19',
 'WKSTAT': 'labels20',
 'FIRMSIZE': 'labels21',
 'ADD_HWK': 'labels22',
 'FINDING': 'labels23',
 'RENOMORE': 'labels24',
 'TWAGE': 'labels25',
 'LASTMEM': 'labels26',
 'RAISE_WG': 'labels27',
 'SUIT_WG': 'labels28',
 'EFFECT_ST': 'labels29',
 'EFFECT_ND': 'labels30',
 'EFFECT_RD': 'labels31',
 'LAY_OFF': 'labels32',
 'ASSIST': 'labels33',
 'Desire': 'labels34',
 'Ryear': 'labels35',
 'No_Desire': 'labels36'}

In [86]:
### Value labels (What does each value in each column mean)

meta_56_Q1.value_labels

{'labels0': {1.0: 'BANGKOK AND METROPOLIS',
  2.0: 'CENTRAL',
  3.0: 'NORTH',
  4.0: 'NORTHEAST',
  5.0: 'SOUTH'},
 'labels1': {1.0: 'MUNICIPAL', 2.0: 'NON-MUNICIPAL'},
 'labels2': {1.0: 'PRIVATE HOUSEHOLD', 2.0: 'SPECIAL HOUSEHOLD'},
 'labels3': {0.0: 'MEMBER IN SPECIAL HH',
  1.0: 'HEAD OF HH',
  2.0: 'SPOUSE',
  3.0: 'UNMARRIED CHILD',
  4.0: 'MARRIED CHILD',
  5.0: 'CHILD IN-LAW',
  6.0: 'GRAND CHILD',
  7.0: 'PARENTS',
  8.0: 'RELATIVES',
  9.0: 'OTHERS'},
 'labels4': {1.0: 'MALE', 2.0: 'FEMALE'},
 'labels5': {1.0: 'SINGLE',
  2.0: 'MARRIED',
  3.0: 'WIDOW',
  4.0: 'DIVORCED',
  5.0: 'SEPERATED',
  6.0: 'MARRIED BUT UNKNOWN'},
 'labels6': {1.0: 'ACADEMIC', 2.0: 'VOCATIONAL', 3.0: 'TEACHER TRAINING'},
 'labels7': {1.0: 'WORKED', 2.0: "DIDN'T WORK"},
 'labels8': {1.0: 'RECIEVED', 2.0: "DIN'T RECIEVED"},
 'labels9': {1.0: 'HAD', 2.0: "DIDN'T HAVE"},
 'labels10': {1.0: 'LE 2 MONTH', 2.0: 'GT 2 MONTH'},
 'labels11': {1.0: 'LOOKED 7 DAYS',
  2.0: 'LOOKED 8-30 DAYS',
  3.0: "DIDN'T LOOK"},
 'labels12': {1.0: 'NEWSPAPER',
  2.0: 'RADIO/TV',
  3.0: 'FRIEND',
  4.0: 'JOB AGENCY',
  5.0: 'FIND JOB DIRECTLY',
  6.0: 'LETTER',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels13': {1.0: 'AVIALABLE', 2.0: 'NOT AVAILABLE'},
 'labels14': {1.0: 'HOUSEHOLD WORK',
  2.0: 'STUDY',
  3.0: 'OFF SEASON',
  4.0: 'TOO YOUNG OR TOO OLD',
  5.0: 'INCAPABLE OF WORK',
  6.0: 'SPENT',
  7.0: 'RETIRE',
  8.0: 'OTHERS'},
 'labels15': {1.0: "THOUGHT CAN'T FIND JOB",
  2.0: "TRY BUT CAN'T FIND JOB",
  3.0: 'UNKNOWN TO FIND',
  4.0: "DIDN'T HAVE JOB TO FIT",
  5.0: 'BAD WEATHER',
  6.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels16': {1.0: 'LT 1 MONTH',
  2.0: '1-2.9 MONTH',
  3.0: '3-5.9 MONTH',
  4.0: '6-8.9 MONTH',
  5.0: '9-11.9 MONTH',
  6.0: 'GE 12 MONTH',
  9.0: 'UNKNOWN'},
 'labels17': {1.0: 'EVER', 2.0: 'NEVER'},
 'labels18': {1.0: 'FIRM QUIT',
  2.0: 'FIRED',
  3.0: 'CONTACT END',
  4.0: 'DEDUCTED RENUM',
  5.0: 'NOT CONTENT RENUM',
  6.0: 'JOB FINISH',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels19': {1.0: 'LT 1 MONTH',
  2.0: '1-2.9 MONTH',
  3.0: '3-5.9 MONTH',
  4.0: '6-8.9 MONTH',
  5.0: '9-11.9 MONTH',
  6.0: 'GE 12 MONTH',
  9.0: 'UNKNOWN'},
 'labels20': {1.0: 'EMPLOYER',
  2.0: 'OWN ACCOUNT',
  3.0: 'UNPAID FAMILY WORKERS',
  4.0: "GOV'T EMPLOYEE",
  5.0: 'STATE ENTERPRISE EMPLOYEE',
  6.0: 'PRIVATE EMPLOYEE',
  7.0: 'GROUP'},
 'labels21': {1.0: 'LT 4',
  2.0: '5-9',
  3.0: '10-19',
  4.0: '20-49',
  5.0: '50-99',
  6.0: '100-199',
  7.0: '200+',
  9.0: 'UNKNOWN'},
 'labels22': {1.0: 'HAVE', 2.0: "DIDN'T HAVE"},
 'labels23': {1.0: 'FINDED', 2.0: "DIN'T FIND"},
 'labels24': {1.0: 'BREAKDOWN MACHINE',
  2.0: 'DECREASING CAPACITY',
  3.0: 'STRIKE',
  4.0: "CAN'T FIND MORE JOB",
  5.0: 'SICK',
  6.0: 'BAD WEATHER',
  7.0: 'OTHERS',
  9.0: 'UNKNOWN'},
 'labels25': {1.0: 'HOUR',
  2.0: 'DAY',
  3.0: 'WEEK',
  4.0: 'MONTH',
  5.0: 'OTHERS',
  6.0: 'UNKNOWN',
  7.0: 'NON-ENUMERATE'},
 'labels26': {0.0: 'NOT LAST MEMBER', 1.0: 'LAST MEMBER'},
 'labels27': {1.0: 'ปรับ', 2.0: 'ไม่ปรับ', 3.0: 'ไม่ทราบ'},
 'labels28': {1.0: 'เหมาะสม', 2.0: 'ไม่เหมาะสม', 3.0: 'ไม่ทราบ'},
 'labels29': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels30': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels31': {0.0: 'ไม่ได้รับผลกระทบ',
  1.0: 'ลดจำนวนคนงาน',
  2.0: 'ต้นทุนการผลิตสูงขึ้น',
  3.0: 'ต้องปรับปรุงวิธีการผลิตใหม่',
  4.0: 'ซื้อเทคโนโลยีใช้ทดแทนแรงงาน',
  5.0: 'ลดสวัสดิการ',
  6.0: 'ย้ายฐานการผลิตไปต่างประเทศ',
  7.0: 'ลดค่าใช้จ่ายส่วนอื่น เช่นการฝึกอบรม ค่าใช้จ่ายด้านการบริหารงาน',
  8.0: 'เลิก/หยุด/ปิดกิจการ',
  9.0: 'มีเงินใช้จ่ายในการครองชีพเพิ่มขึ้น',
  10.0: 'มีเงินเพียงพอสามารถนำมาเป็นค่าใช้จ่ายในการพัฒนาฝีมือแรงงาน',
  11.0: 'ตนเองและสมาชิกในครัวเรือนมีโอกาสได้ศ๊กษาสูงขึ้น',
  12.0: 'ราคาสินค้าอุปโภคบริโภคเพิ่มขึ้น',
  13.0: 'ราคาน้ำมันเชื้อเพลิง/พลังงานเพิ่มขึ้น',
  14.0: 'ค่าโดยสารพาหนะเพิ่มขึ้น',
  15.0: 'ค่าที่อยู่อาศัยเพิ่มขึ้น',
  16.0: 'ค่าสาธารณูปโภคเพิ่มขึ้น',
  17.0: 'อื่นๆ',
  99.0: 'ไม่ทราบ'},
 'labels32': {1.0: 'เลิกจ้างทั้งหมด',
  2.0: 'เลิกจ้างบางส่วน',
  3.0: 'ไม่มีการเลิกจ้าง',
  9.0: 'ไม่ทราบ'},
 'labels33': {1.0: 'ไม่ต้องการความช่วยเหลือ',
  2.0: 'หาแหล่งเงินทุนให้',
  3.0: 'ลดอัตราดอกเบี้ยเงินกู้',
  4.0: 'หาแหล่งตลาดใหม่ๆ',
  5.0: 'เพิ่มอัตราการลดหย่อนภาษี',
  6.0: 'ช่วยเหลือค่าครองชีพประจำวัน',
  7.0: 'พัฒนาฝีมือแรงงาน',
  8.0: 'อื่นๆ',
  9.0: 'ไม่ทราบ'},
 'labels34': {1.0: 'ต้องการ', 2.0: 'ไม่ต้องการ'},
 'labels35': {0.0: 'ไม่เคย',
  1.0: '1 หลักสูตร',
  2.0: '2 หลักสูตร',
  3.0: '3 หลักสูตร',
  4.0: '4 หลักสูตร',
  5.0: 'มากกว่า 4 หลักสูตร'},
 'labels36': {1.0: 'ไม่รู้สถานที่/หน่วยงานที่ให้การพัฒนาฯ',
  2.0: 'ไม่มีเวลาว่างพอ',
  3.0: 'ไม่มีค่าใช้จ่ายที่ใช้ในการพัฒนา',
  4.0: 'ป่วย/พิการ',
  5.0: 'ชรา',
  6.0: 'ยังเด็ก/เรียนหนังสือ',
  7.0: 'ต้องการพักผ่อน',
  8.0: 'ไม่มีหลักสูตร/เรื่องที่ต้องการพัฒนาฯ',
  9.0: 'อื่นๆ'}}

### Keeping Only Labor Force

Value labels of 'WKCODE': 'WORK STATUS RECODE'

For 2528 - 2543:
- 01-08: Employed
- 09-12, 14-17: Unemployed
- **19-20, 22-26: Not in labor force** &rarr; 01-18, 21: Labor force
- 13, 18, 21: Waiting for season.

**Note**: must also exclude people age under 15 years old manually.

For 2544 - 2550:
- 01-03: Employed
- 04-05: Unemployed
- **06-07, 09-12: Not in labor force** &rarr; 01-05, 08: Labor force
- 08: Waiting for season.
- 13: Persons under 15 years old

For 2551 - recent:
- 01-03: Employed
- 04-05: Unemployed
- **06-07, 09-13: Not in labor force** &rarr; 01-05, 08: Labor force
- 08: Waiting for season.
- 14: Persons under 15 years old

In [87]:
### Crete functions to exclude people who are not in labor force.
## Excluding people who are not in labor force (2544 - recent)
def exclude_not_LF(LFS_df): # drop WKCODE == 06-07 or >= 09.
    x = LFS_df.drop(LFS_df[(LFS_df["WKCODE"] == 6) | (LFS_df["WKCODE"] == 7) | (LFS_df["WKCODE"] >= 9)].index)
    return x

In [88]:
## Apply the function to the data (use pipe since the input is a dataframe)
LFS_56_Q1 = LFS_56_Q1.pipe(exclude_not_LF)

In [89]:
## Check the total labor force (sum WT)
LFS_56_Q1["WT"].sum()

# correct!

39134120.86750001

### Keeping Only Relevant Columns.

In [90]:
### Keep only the necessary columns: REG, CWD, YEAR, AGE, EDCODE, WKCODE, OCCUP, INDUST, PERMONTH, WT
LFS_56_Q1 = LFS_56_Q1[["REG", "CWD", "YEAR", "AGE", "EDCODE", "WKCODE", "OCCUP", "INDUST", "PERMONTH", "WT"]]

## Recoding Variables

### Recoding Regions
I seperate the eastern provinces from the central province since industrial parks are mostly located in the eastern provinces.

In [91]:
## Import new province code.
New_province = pd.read_csv("D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\Province_code.csv")

## Merge with LFS.
LFS_56_Q1 = pd.merge(LFS_56_Q1, New_province[["REG_NEW", "CWD"]], how = 'left', left_on = 'CWD', right_on = 'CWD')

## move REG_NEW to the first column, drop REG.
cols = LFS_56_Q1.columns.tolist()
cols = cols[-1:] + cols[:-1]
LFS_56_Q1 = LFS_56_Q1[cols]

## drop REG and CWD
LFS_56_Q1 = LFS_56_Q1.drop(columns = ["REG", "CWD"])


LFS_56_Q1

,REG_NEW,YEAR,AGE,EDCODE,WKCODE,OCCUP,INDUST,PERMONTH,WT
0,1,56.0,46.0,11.0,1.0,5221.0,47711.0,NaN,877.8005
1,1,56.0,40.0,5.0,1.0,5223.0,47711.0,NaN,881.6978
2,1,56.0,22.0,3.0,1.0,9111.0,97000.0,6000.0,545.8329
3,1,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,56.0,77.0,2.0,1.0,5221.0,47711.0,NaN,738.7725
...,...,...,...,...,...,...,...,...,...
133066,6,56.0,47.0,1.0,1.0,6112.0,1261.0,NaN,378.8351
133067,6,56.0,40.0,3.0,1.0,5120.0,85101.0,4500.0,421.1832
133068,6,56.0,21.0,3.0,1.0,6112.0,1261.0,NaN,711.6193
133069,6,56.0,18.0,3.0,1.0,6112.0,1261.0,NaN,677.1118
133070,6,56.0,16.0,4.0,1.0,6112.0,1261.0,NaN,568.8458

### Coding Sector.

From *INDUST* variable

From 2528 - 2543, the standard is ISIC Rev (4 digits)1:
- Agriculture: 01-04
- Industry: 11-52
- Services: 61-90

From 2544 - 2553, the standard is ISIC Rev 3. (4 digits):
- Agriculture: 01-05
- Industry: 10-45
- Services: 50-99

From 2554 - recent years, the standard is TSIC 2009 (5 digits):
- Agriculture: 01-03
- Industry: 05-43
- Services: 45-99

In [92]:
### Define function to code SECTOR (from the first two digits of INDUST)

## function for 2528-2543.
def sector_create_28(row): 
    # First, convert INDUST from float to string.
    x = str(row["INDUST"])
    # remove the decimal part.
    x = x.split(".")[0]

    # If x is missing, return missing.
    if x == "nan":
        return np.nan
    
    ## In case x is less than 4 digits, add 0 in front. And use the first two digits.
    elif len(x) < 4:
        x = "0" + x
        x = x[:2]
        ## Convert the string back to integer.
        x = int(x)
    
    ## If it is already 4 digits, take it as it is.
    elif len(x) == 4:
        x = x[:2]
        ## Convert the string back to integer.
        x = int(x)

    ## Create the SECTOR code.
    # Agriculture: 01-04
    if (x >= 1) & (x <= 4):
        return "Agriculture"
    # Industry: 11-52
    elif (x >= 11) & (x <= 52):
        return "Industry"
    # Services: 61-90
    elif (x >= 61) & (x <= 90):
        return "Services"
    

## function for 2544-2553.
def sector_create_44(row):
    # First, convert INDUST from float to string.
    x = str(row["INDUST"])
    # remove the decimal part.
    x = x.split(".")[0]

    # If x is missing, return missing.
    if x == "nan":
        return np.nan
    
    ## In case x is less than 4 digits, add 0 in front. And use the first two digits.
    elif len(x) < 4:
        x = "0" + x
        x = x[:2]
        ## Convert the string back to integer.
        x = int(x)
    
    ## If it is already 4 digits, take it as it is.
    elif len(x) == 4:
        x = x[:2]
        ## Convert the string back to integer.
        x = int(x)

    ## Create the SECTOR code.
    # Agriculture: 01-05
    if (x >= 1) & (x <= 5):
        return "Agriculture"
    # Industry: 10-45
    elif (x >= 10) & (x <= 45):
        return "Industry"
    # Services: 50-99
    elif (x >= 50) & (x <= 99):
        return "Services"


## function for 2554-recent.
def sector_create_54(row):
    # First, convert INDUST from float to string.
    x = str(row["INDUST"])
    # remove the decimal part.
    x = x.split(".")[0]

    # If x is missing, return missing.
    if x == "nan":
        return np.nan
    
    ## In case x is less than 5 digits, add 0 in front. And use the first two digits.
    elif len(x) < 5:
        x = "0" + x
        x = x[:2]
        ## Convert the string back to integer.
        x = int(x)
    
    ## If it is already 5 digits, take it as it is.
    elif len(x) == 5:
        x = x[:2]
        ## Convert the string back to integer.
        x = int(x)

    ## Create the SECTOR code.
    # Agriculture: 01-03
    if (x >= 1) & (x <= 3):
        return "Agriculture"
    # Industry: 05-43
    elif (x >= 5) & (x <= 43):
        return "Industry"
    # Services: 45-99
    elif (x >= 45) & (x <= 99):
        return "Services"

In [93]:
### Apply the function to the dataframe.
LFS_56_Q1["SECTOR"] = LFS_56_Q1.apply(sector_create_54, axis = 1)

LFS_56_Q1.head(10)

,REG_NEW,YEAR,AGE,EDCODE,WKCODE,OCCUP,INDUST,PERMONTH,WT,SECTOR
0,1,56.0,46.0,11.0,1.0,5221.0,47711.0,NaN,877.8005,Services
1,1,56.0,40.0,5.0,1.0,5223.0,47711.0,NaN,881.6978,Services
2,1,56.0,22.0,3.0,1.0,9111.0,97000.0,6000.0,545.8329,Services
3,1,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,56.0,77.0,2.0,1.0,5221.0,47711.0,NaN,738.7725,Services
5,1,56.0,42.0,11.0,1.0,5223.0,47711.0,NaN,877.8005,Services
6,1,56.0,39.0,11.0,1.0,5223.0,47711.0,NaN,1081.9900,Services
7,1,56.0,47.0,3.0,1.0,5223.0,47711.0,NaN,881.6978,Services
8,1,56.0,47.0,3.0,1.0,7131.0,13929.0,NaN,877.8005,Industry
9,1,56.0,47.0,3.0,1.0,8153.0,13929.0,NaN,881.6978,Industry

### Recoding Education

Value labels of 'EDCODE': 'EDUCATION RECODE'.

For 2528 - 2543:
- 01-03: Less than elementary education
- 04: Elementary education
- 05, 07: Lower secondary education
- 06, 08: Upper secondary or Associate
- 09-10: Bachelor or higher
- if 11
    + if *OCCUP* is >= 71 & <= 74, then Upper secondary or Associate
    + if *OCCUP* is >= 75 & <= 78, then Bachelor or higher
- 12-14: Other or unknown education (excluded from the analysis)

For 2544 - 2549:
- 01-02: Less than elementary education
- 03: Elementary education
- 04: Lower secondary education
- 05-10: Upper secondary or Associate
- 11-13: Bachelor or higher
- 14-15: Other or unknown education (excluded from the analysis)

For 2550 - recent:
- 01-02: Less than elementary education
- 03: Elementary education
- 04: Lower secondary education
- 05-10: Upper secondary or Associate
- 11-13: Bachelor degree education
- 14-15: Master degree education or higher
- 16-17: Other or unknown education (excluded from the analysis)

In [94]:
## Apply the function to the data (use pipe since the input is a dataframe)
LFS_56_Q1 = LFS_56_Q1.pipe(exclude_not_LF)

In [95]:
### Define fuctions to recode EDCODE.
## Regroup EDCODE to 6 categories (2528 - 2543)
## Wait until the data has been received.

## Regroup EDCODE to 6 categories (2544 - 2549)
def EDCODE_NEW_50(row):
    if row["EDCODE"] < 2:
        return "Less than elementary"
    elif row["EDCODE"] == 3:
        return "Elementary"
    elif row["EDCODE"] == 4:
        return "Lower secondary"
    elif (row["EDCODE"] >= 5) & (row["EDCODE"] <= 10):
        return "Upper secondary or Associate"
    elif (row["EDCODE"] >= 11) & (row["EDCODE"] <= 13):
        return "Bachelor or higher"
    else: 
        return "Other/Unknown"

## Regroup EDCODE to 6 categories (2550 - recent)
def EDCODE_NEW_50(row):
    if row["EDCODE"] < 2:
        return "Less than elementary"
    elif row["EDCODE"] == 3:
        return "Elementary"
    elif row["EDCODE"] == 4:
        return "Lower secondary"
    elif (row["EDCODE"] >= 5) & (row["EDCODE"] <= 10):
        return "Upper secondary or Associate"
    elif (row["EDCODE"] >= 11) & (row["EDCODE"] <= 15):
        return "Bachelor or higher"
    else: 
        return "Other/Unknown"

In [96]:
## Apply the function to the dataframe.
LFS_56_Q1["EDCODE_NEW"] = LFS_56_Q1.apply(EDCODE_NEW_50, axis = 1)

In [97]:
LFS_56_Q1

,REG_NEW,YEAR,AGE,EDCODE,WKCODE,OCCUP,INDUST,PERMONTH,WT,SECTOR,EDCODE_NEW
0,1,56.0,46.0,11.0,1.0,5221.0,47711.0,NaN,877.8005,Services,Bachelor or higher
1,1,56.0,40.0,5.0,1.0,5223.0,47711.0,NaN,881.6978,Services,Upper secondary or Associate
2,1,56.0,22.0,3.0,1.0,9111.0,97000.0,6000.0,545.8329,Services,Elementary
3,1,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other/Unknown
4,1,56.0,77.0,2.0,1.0,5221.0,47711.0,NaN,738.7725,Services,Other/Unknown
...,...,...,...,...,...,...,...,...,...,...,...
133066,6,56.0,47.0,1.0,1.0,6112.0,1261.0,NaN,378.8351,Agriculture,Less than elementary
133067,6,56.0,40.0,3.0,1.0,5120.0,85101.0,4500.0,421.1832,Services,Elementary
133068,6,56.0,21.0,3.0,1.0,6112.0,1261.0,NaN,711.6193,Agriculture,Elementary
133069,6,56.0,18.0,3.0,1.0,6112.0,1261.0,NaN,677.1118,Agriculture,Elementary
133070,6,56.0,16.0,4.0,1.0,6112.0,1261.0,NaN,568.8458,Agriculture,Lower secondary

## Create sub-dataframes for each age group.

In [98]:
## Creating sub-dataframes for each age group.
LFS_56_Q1_YOUNG = LFS_56_Q1[LFS_56_Q1["AGE"] <= 24]
LFS_56_Q1_MIDDLE = LFS_56_Q1[(LFS_56_Q1["AGE"] >= 25) & (LFS_56_Q1["AGE"] <= 54)]
LFS_56_Q1_OLD = LFS_56_Q1[LFS_56_Q1["AGE"] >= 55]

## Examine employment in the three broad sectors: agriculture, industry, and services.

### Look at workers of all age groups

In [99]:
## Creating sub-dataframes for each age group.
LFS_56_Q1_YOUNG = LFS_56_Q1[LFS_56_Q1["AGE"] <= 24]
LFS_56_Q1_MIDDLE = LFS_56_Q1[(LFS_56_Q1["AGE"] >= 25) & (LFS_56_Q1["AGE"] <= 54)]
LFS_56_Q1_OLD = LFS_56_Q1[LFS_56_Q1["AGE"] >= 55]

In [100]:
### Table of the number of people in each sector by region.
## Tabulate the data.
LFS_56_Q1_SEC_REG = LFS_56_Q1.groupby(["REG_NEW", "SECTOR"]).agg({"WT": "sum"}).reset_index() 

## Create a new column for the percentage of each sector.
LFS_56_Q1_SEC_REG["Percentage"] = LFS_56_Q1_SEC_REG.groupby('REG_NEW')["WT"].apply(lambda x: x / x.sum() * 100).reset_index().WT

In [101]:
## Compute the total number of people in each sector at the national level.
LFS_56_Q1_SEC_NAT = LFS_56_Q1_SEC_REG.groupby("SECTOR").agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0. 
LFS_56_Q1_SEC_NAT["REG_NEW"] = 0

## Create a new column for the percentage of each sector.
LFS_56_Q1_SEC_NAT["Percentage"] = LFS_56_Q1_SEC_NAT["WT"]/LFS_56_Q1_SEC_NAT["WT"].sum() * 100

# Make the order of columns the same as LFS_56_Q1_SEC_REG
LFS_56_Q1_SEC_NAT = LFS_56_Q1_SEC_NAT[LFS_56_Q1_SEC_REG.columns]

In [102]:
## Concatenate the national level data to the regional level data.
LFS_56_Q1_SEC_REG = pd.concat([LFS_56_Q1_SEC_NAT, LFS_56_Q1_SEC_REG]).reset_index(drop=True)

## remove the dataframes that are no longer needed.
del LFS_56_Q1_SEC_NAT

LFS_56_Q1_SEC_REG

    REG_NEW       SECTOR            WT  Percentage
0         0  Agriculture  1.392290e+07   35.984970
1         0     Industry  8.806283e+06   22.760623
2         0     Services  1.596169e+07   41.254408
3         1  Agriculture  3.231122e+04    0.820253
4         1     Industry  9.702152e+05   24.629895
5         1     Services  2.936651e+06   74.549852
6         2  Agriculture  1.655254e+06   23.268826
7         2     Industry  2.397189e+06   33.698619
8         2     Services  3.061169e+06   43.032555
9         3  Agriculture  6.901673e+05   26.946894
10        3     Industry  8.410409e+05   32.837605
11        3     Services  1.030005e+06   40.215501
12        4  Agriculture  3.364770e+06   46.649842
13        4     Industry  1.376736e+06   19.087344
14        4     Services  2.471315e+06   34.262814
15        5  Agriculture  5.659937e+06   45.860016
16        5     Industry  2.516745e+06   20.392092
17        5     Services  4.165087e+06   33.747892
18        6  Agriculture  2.520459e+06   45.641647
19        6     Industry  7.043568e+05   12.754824
20        6     Services  2.297463e+06   41.603530

### Focusing only on young workers (15-24 years old).

In [103]:
## Tabulate the data. Number of people in each sector.
LFS_56_Q1_YOUNG_SEC_REG = LFS_56_Q1_YOUNG.groupby(["REG_NEW", "SECTOR"]).agg({"WT": "sum"}).reset_index()

## Create a new column for the percentage of each sector.
LFS_56_Q1_YOUNG_SEC_REG["Percentage"] = LFS_56_Q1_YOUNG_SEC_REG.groupby('REG_NEW')["WT"].apply(lambda x: x / x.sum() * 100).reset_index().WT

## Compute the total number of people in each sector at the national level.
LFS_56_Q1_YOUNG_SEC_NAT = LFS_56_Q1_YOUNG_SEC_REG.groupby("SECTOR").agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0.
LFS_56_Q1_YOUNG_SEC_NAT["REG_NEW"] = 0

## Create a new column for the percentage of each sector.
LFS_56_Q1_YOUNG_SEC_NAT["Percentage"] = LFS_56_Q1_YOUNG_SEC_NAT["WT"]/LFS_56_Q1_YOUNG_SEC_NAT["WT"].sum() * 100

# Make the order of columns the same as LFS_56_Q1_YOUNG_SEC_REG
LFS_56_Q1_YOUNG_SEC_NAT = LFS_56_Q1_YOUNG_SEC_NAT[LFS_56_Q1_YOUNG_SEC_REG.columns]

## Concatenate the national level data to the regional level data.
LFS_56_Q1_YOUNG_SEC_REG = pd.concat([LFS_56_Q1_YOUNG_SEC_NAT, LFS_56_Q1_YOUNG_SEC_REG]).reset_index(drop=True)

## remove the dataframes that are no longer needed.
del LFS_56_Q1_YOUNG_SEC_NAT

LFS_56_Q1_YOUNG_SEC_REG

    REG_NEW       SECTOR            WT  Percentage
0         0  Agriculture  1.624242e+06   35.941959
1         0     Industry  1.221798e+06   27.036499
2         0     Services  1.673029e+06   37.021542
3         1  Agriculture  1.193257e+03    0.547491
4         1     Industry  6.808988e+04   31.241043
5         1     Services  1.486670e+05   68.211466
6         2  Agriculture  1.673214e+05   21.169610
7         2     Industry  3.189283e+05   40.351018
8         2     Services  3.041351e+05   38.479372
9         3  Agriculture  7.508909e+04   22.590500
10        3     Industry  1.458313e+05   43.873240
11        3     Services  1.114719e+05   33.536259
12        4  Agriculture  3.817995e+05   47.326710
13        4     Industry  1.599972e+05   19.832765
14        4     Services  2.649349e+05   32.840525
15        5  Agriculture  6.464297e+05   41.475094
16        5     Industry  3.972115e+05   25.485191
17        5     Services  5.149561e+05   33.039715
18        6  Agriculture  3.524094e+05   43.346039
19        6     Industry  1.317402e+05   16.203930
20        6     Services  3.288645e+05   40.450031

### Focusing only on workers aged 25-54 years old.

In [104]:
## Tabulate the data. Number of people in each sector.
LFS_56_Q1_MIDDLE_SEC_REG = LFS_56_Q1_MIDDLE.groupby(["REG_NEW", "SECTOR"]).agg({"WT": "sum"}).reset_index()

## Create a new column for the percentage of each sector.
LFS_56_Q1_MIDDLE_SEC_REG["Percentage"] = LFS_56_Q1_MIDDLE_SEC_REG.groupby('REG_NEW')["WT"].apply(lambda x: x / x.sum() * 100).reset_index().WT

## Compute the total number of people in each sector at the national level.
LFS_56_Q1_MIDDLE_SEC_NAT = LFS_56_Q1_MIDDLE_SEC_REG.groupby("SECTOR").agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0.
LFS_56_Q1_MIDDLE_SEC_NAT["REG_NEW"] = 0

## Create a new column for the percentage of each sector.
LFS_56_Q1_MIDDLE_SEC_NAT["Percentage"] = LFS_56_Q1_MIDDLE_SEC_NAT["WT"]/LFS_56_Q1_MIDDLE_SEC_NAT["WT"].sum() * 100

# Make the order of columns the same as LFS_56_Q1_MIDDLE_SEC_REG
LFS_56_Q1_MIDDLE_SEC_NAT = LFS_56_Q1_MIDDLE_SEC_NAT[LFS_56_Q1_MIDDLE_SEC_REG.columns]

## Concatenate the national level data to the regional level data.
LFS_56_Q1_MIDDLE_SEC_REG = pd.concat([LFS_56_Q1_MIDDLE_SEC_NAT, LFS_56_Q1_MIDDLE_SEC_REG]).reset_index(drop=True)

## remove the dataframes that are no longer needed.
del LFS_56_Q1_MIDDLE_SEC_NAT

LFS_56_Q1_MIDDLE_SEC_REG

    REG_NEW       SECTOR            WT  Percentage
0         0  Agriculture  9.024101e+06   32.513406
1         0     Industry  6.640510e+06   23.925440
2         0     Services  1.209041e+07   43.561154
3         1  Agriculture  1.811919e+04    0.564750
4         1     Industry  8.156173e+05   25.421651
5         1     Services  2.374621e+06   74.013599
6         2  Agriculture  1.051723e+06   20.100614
7         2     Industry  1.896313e+06   36.242467
8         2     Services  2.284259e+06   43.656919
9         3  Agriculture  4.483897e+05   24.045351
10        3     Industry  6.402177e+05   34.332319
11        3     Services  7.761593e+05   41.622330
12        4  Agriculture  2.200420e+06   43.802767
13        4     Industry  9.828572e+05   19.565290
14        4     Services  1.840196e+06   36.631942
15        5  Agriculture  3.673180e+06   42.700756
16        5     Industry  1.796291e+06   20.881904
17        5     Services  3.132671e+06   36.417339
18        6  Agriculture  1.632269e+06   42.685054
19        6     Industry  5.092135e+05   13.316318
20        6     Services  1.682499e+06   43.998627

### Focusing only on older workers (55 years old and above).

In [105]:
## Tabulate the data. Number of people in each sector.
LFS_56_Q1_OLD_SEC_REG = LFS_56_Q1_OLD.groupby(["REG_NEW", "SECTOR"]).agg({"WT": "sum"}).reset_index()

## Create a new column for the percentage of each sector.
LFS_56_Q1_OLD_SEC_REG["Percentage"] = LFS_56_Q1_OLD_SEC_REG.groupby('REG_NEW')["WT"].apply(lambda x: x / x.sum() * 100).reset_index().WT

## Compute the total number of people in each sector at the national level.
LFS_56_Q1_OLD_SEC_NAT = LFS_56_Q1_OLD_SEC_REG.groupby("SECTOR").agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0.
LFS_56_Q1_OLD_SEC_NAT["REG_NEW"] = 0

## Create a new column for the percentage of each sector.
LFS_56_Q1_OLD_SEC_NAT["Percentage"] = LFS_56_Q1_OLD_SEC_NAT["WT"]/LFS_56_Q1_OLD_SEC_NAT["WT"].sum() * 100

# Make the order of columns the same as LFS_56_Q1_OLD_SEC_REG
LFS_56_Q1_OLD_SEC_NAT = LFS_56_Q1_OLD_SEC_NAT[LFS_56_Q1_OLD_SEC_REG.columns]

## Concatenate the national level data to the regional level data.
LFS_56_Q1_OLD_SEC_REG = pd.concat([LFS_56_Q1_OLD_SEC_NAT, LFS_56_Q1_OLD_SEC_REG]).reset_index(drop=True)

## remove the dataframes that are no longer needed.
del LFS_56_Q1_OLD_SEC_NAT

LFS_56_Q1_OLD_SEC_REG

    REG_NEW       SECTOR            WT  Percentage
0         0  Agriculture  3.274554e+06   51.031087
1         0     Industry  9.439748e+05   14.711028
2         0     Services  2.198254e+06   34.257885
3         1  Agriculture  1.299878e+04    2.534519
4         1     Industry  8.650795e+04   16.867428
5         1     Services  4.133631e+05   80.598053
6         2  Agriculture  4.362092e+05   39.984988
7         2     Industry  1.819480e+05   16.678211
8         2     Services  4.727752e+05   43.336801
9         3  Agriculture  1.666885e+05   45.786785
10        3     Industry  5.499197e+04   15.105455
11        3     Services  1.423733e+05   39.107759
12        4  Agriculture  7.825495e+05   56.599209
13        4     Industry  2.338816e+05   16.915879
14        4     Services  3.661845e+05   26.484912
15        5  Agriculture  1.340328e+06   61.453903
16        5     Industry  3.232422e+05   14.820628
17        5     Services  5.174594e+05   23.725468
18        6  Agriculture  5.357806e+05   60.520872
19        6     Industry  6.340304e+04    7.161900
20        6     Services  2.860987e+05   32.317228

## Examine education level.

### Look at labor force of all age groups.

In [106]:
### Tabulate the data. Get the number of people in each education level (7 categories), in each region (6 regions).
## Tabulate the data.
LFS_56_Q1_EDU_REG_TOTAL = LFS_56_Q1.groupby(["REG_NEW", "EDCODE_NEW"]).agg({"WT": "sum"}).reset_index() ## Don't sort by the alphabetical order.

## Exclude the "Other/Unknown" category.
LFS_56_Q1_EDU_REG_TOTAL = LFS_56_Q1_EDU_REG_TOTAL[LFS_56_Q1_EDU_REG_TOTAL["EDCODE_NEW"] != "Other/Unknown"].reset_index(drop=True) ## drop previous index (otherwise it becomes a new column)

## Create a new column for the percentage of each education level in each region.
LFS_56_Q1_EDU_REG_TOTAL["Percentage"] = LFS_56_Q1_EDU_REG_TOTAL.groupby("REG_NEW")["WT"].apply(lambda x: x/x.sum()*100).reset_index().WT

In [107]:
## Compute the total number of people in each education level at the national level
LFS_56_Q1_EDU_NAT_TOTAL = LFS_56_Q1_EDU_REG_TOTAL.groupby(["EDCODE_NEW"]).agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0. 
LFS_56_Q1_EDU_NAT_TOTAL["REG_NEW"] = 0

## Create a new column for the percentage of each education level
LFS_56_Q1_EDU_NAT_TOTAL["Percentage"] = LFS_56_Q1_EDU_NAT_TOTAL["WT"]/LFS_56_Q1_EDU_NAT_TOTAL["WT"].sum()*100

# Make the order of columns the same as LFS_56_Q1_EDU_REG_TOTAL
LFS_56_Q1_EDU_NAT_TOTAL = LFS_56_Q1_EDU_NAT_TOTAL[LFS_56_Q1_EDU_REG_TOTAL.columns]

In [108]:
## Concatenate the national level data to the regional level data.
LFS_56_Q1_EDU_REG_TOTAL = pd.concat([LFS_56_Q1_EDU_NAT_TOTAL, LFS_56_Q1_EDU_REG_TOTAL], axis = 0).reset_index(drop=True) ## drop previous index entirely.

In [109]:

## remove the dataframes that are no longer needed.
del LFS_56_Q1_EDU_NAT_TOTAL

In [110]:
### Sort the table by EDCODE_NEW.
custom_dict_edu = {'Less than elementary': 0, 'Elementary': 1, 'Lower secondary': 2, 'Upper secondary or Associate': 3, 'Bachelor or higher': 4, 'Other/Unknown': 5}

# Convert EDCODE_NEW to an ordered categorical data type
LFS_56_Q1_EDU_REG_TOTAL['EDCODE_NEW'] = pd.Categorical(LFS_56_Q1_EDU_REG_TOTAL['EDCODE_NEW'], categories=custom_dict_edu.keys(), ordered=True)

# Sort the table by EDCODE_NEW and REG_NEW
LFS_56_Q1_EDU_REG_TOTAL.sort_values(by=['REG_NEW', 'EDCODE_NEW'], inplace=True, ignore_index = True)

In [111]:
LFS_56_Q1_EDU_REG_TOTAL

    REG_NEW                    EDCODE_NEW            WT  Percentage
0         0          Less than elementary  1.308194e+06    4.442013
1         0                    Elementary  9.091405e+06   30.870134
2         0               Lower secondary  6.374162e+06   21.643658
3         0  Upper secondary or Associate  7.574642e+06   25.719922
4         0            Bachelor or higher  5.102083e+06   17.324273
5         1          Less than elementary  7.232490e+04    2.064044
6         1                    Elementary  6.370528e+05   18.180532
7         1               Lower secondary  5.457157e+05   15.573908
8         1  Upper secondary or Associate  8.813673e+05   25.152903
9         1            Bachelor or higher  1.367577e+06   39.028613
10        2          Less than elementary  3.060919e+05    5.574720
11        2                    Elementary  1.473716e+06   26.840156
12        2               Lower secondary  1.243102e+06   22.640080
13        2  Upper secondary or Associate  1.512314e+06   27.543133
14        2            Bachelor or higher  9.554889e+05   17.401911
15        3          Less than elementary  6.758231e+04    3.416675
16        3                    Elementary  5.639569e+05   28.511264
17        3               Lower secondary  4.759176e+05   24.060374
18        3  Upper secondary or Associate  5.684938e+05   28.740631
19        3            Bachelor or higher  3.020637e+05   15.271056
20        4          Less than elementary  5.254819e+05   10.360677
21        4                    Elementary  1.533252e+06   30.230404
22        4               Lower secondary  1.072709e+06   21.150101
23        4  Upper secondary or Associate  1.214139e+06   23.938603
24        4            Bachelor or higher  7.263052e+05   14.320215
25        5          Less than elementary  1.242389e+05    1.375136
26        5                    Elementary  3.516148e+06   38.918410
27        5               Lower secondary  2.086509e+06   23.094480
28        5  Upper secondary or Associate  2.252506e+06   24.931812
29        5            Bachelor or higher  1.055264e+06   11.680162
30        6          Less than elementary  2.124745e+05    4.860816
31        6                    Elementary  1.367279e+06   31.279485
32        6               Lower secondary  9.502091e+05   21.738103
33        6  Upper secondary or Associate  1.145822e+06   26.213172
34        6            Bachelor or higher  6.953840e+05   15.908424

### Focusing only on young labor force (15-24 years old).

In [112]:
#### Repeat the same process of tabulating the data. Focus on education level of young labor force.
## Tabulate the data.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = LFS_56_Q1_YOUNG.groupby(["REG_NEW", "EDCODE_NEW"]).agg({"WT": "sum"}).reset_index() ## Don't sort by the alphabetical order.

## Exclude the "Other/Unknown" category.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = LFS_56_Q1_YOUNG_EDU_REG_TOTAL[LFS_56_Q1_YOUNG_EDU_REG_TOTAL["EDCODE_NEW"] != "Other/Unknown"].reset_index(drop=True) ## drop previous index (otherwise it becomes a new column)

## Create a new column for the percentage of each education level in each region.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL["Percentage"] = LFS_56_Q1_YOUNG_EDU_REG_TOTAL.groupby("REG_NEW")["WT"].apply(lambda x: x/x.sum()*100).reset_index().WT

## Compute the total number of people in each education level at the national level
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL = LFS_56_Q1_YOUNG_EDU_REG_TOTAL.groupby(["EDCODE_NEW"]).agg({"WT": "sum"}).reset_index()

## Create column REG_NEW for the national level. Set it to 0.
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["REG_NEW"] = 0

# Make REG_NEW the first column.
cols = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL.columns.tolist()

cols = cols[-1:] + cols[:-1]
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL[cols]

## Create a new column for the percentage of each education level
LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["Percentage"] = LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["WT"]/LFS_56_Q1_YOUNG_EDU_NAT_TOTAL["WT"].sum()*100

## Concatenate the national level data to the regional level data.
LFS_56_Q1_YOUNG_EDU_REG_TOTAL = pd.concat([LFS_56_Q1_YOUNG_EDU_NAT_TOTAL, LFS_56_Q1_YOUNG_EDU_REG_TOTAL], axis = 0).reset_index(drop=True) ## drop previous index entirely.

## remove the dataframes that are no longer needed.
del LFS_56_Q1_YOUNG_EDU_NAT_TOTAL

### Sort the table by EDCODE_NEW.
custom_dict_edu = {'Less than elementary': 0, 'Elementary': 1, 'Lower secondary': 2, 'Upper secondary or Associate': 3, 'Bachelor or higher': 4, 'Other/Unknown': 5}

# Convert EDCODE_NEW to an ordered categorical data type
LFS_56_Q1_YOUNG_EDU_REG_TOTAL['EDCODE_NEW'] = pd.Categorical(LFS_56_Q1_YOUNG_EDU_REG_TOTAL['EDCODE_NEW'], categories=custom_dict_edu.keys(), ordered=True)

# Sort the table by EDCODE_NEW and REG_NEW
LFS_56_Q1_YOUNG_EDU_REG_TOTAL.sort_values(by=['REG_NEW', 'EDCODE_NEW'], inplace=True, ignore_index = True)

LFS_56_Q1_YOUNG_EDU_REG_TOTAL

    REG_NEW                    EDCODE_NEW            WT  Percentage
0         0          Less than elementary  1.185253e+05    2.598702
1         0                    Elementary  9.304796e+05   20.401033
2         0               Lower secondary  1.864463e+06   40.878880
3         0  Upper secondary or Associate  1.342664e+06   29.438303
4         0            Bachelor or higher  3.048116e+05    6.683081
5         1          Less than elementary  1.438370e+04    6.425044
6         1                    Elementary  3.446754e+04   15.396278
7         1               Lower secondary  8.057663e+04   35.992711
8         1  Upper secondary or Associate  5.163813e+04   23.066194
9         1            Bachelor or higher  4.280330e+04   19.119773
10        2          Less than elementary  4.129439e+04    5.297721
11        2                    Elementary  1.445954e+05   18.550363
12        2               Lower secondary  3.138699e+05   40.266858
13        2  Upper secondary or Associate  2.198526e+05   28.205234
14        2            Bachelor or higher  5.986228e+04    7.679825
15        3          Less than elementary  9.019102e+03    2.729908
16        3                    Elementary  4.824893e+04   14.604020
17        3               Lower secondary  1.325684e+05   40.125885
18        3  Upper secondary or Associate  1.173806e+05   35.528837
19        3            Bachelor or higher  2.316418e+04    7.011350
20        4          Less than elementary  3.093467e+04    3.839179
21        4                    Elementary  1.617024e+05   20.068242
22        4               Lower secondary  3.351337e+05   41.592117
23        4  Upper secondary or Associate  2.262893e+05   28.083871
24        4            Bachelor or higher  5.170248e+04    6.416590
25        5          Less than elementary  3.276069e+03    0.203450
26        5                    Elementary  3.057049e+05   18.984865
27        5               Lower secondary  7.199216e+05   44.708516
28        5  Upper secondary or Associate  5.089105e+05   31.604321
29        5            Bachelor or higher  7.244297e+04    4.498848
30        6          Less than elementary  1.961741e+04    2.418320
31        6                    Elementary  2.357605e+05   29.063175
32        6               Lower secondary  2.823925e+05   34.811696
33        6  Upper secondary or Associate  2.185933e+05   26.946903
34        6            Bachelor or higher  5.483636e+04    6.759907

## Setting up functions for streamling the process on data from all periods.

In [129]:
#### Turning the above code into a function. Must apply (pipe) to the dataframe.
### RECODING, EXCLUDING NON-LABOR FORCE

def LFS_from54_clean(LFS_df):
    ## Exclude people who are not in labor force.
    LFS_df = LFS_df.pipe(exclude_not_LF)

    ## Recode Region.
    # Merge with the new province code.
    LFS_df = pd.merge(LFS_df, New_province[["REG_NEW", "CWD"]], how = 'left', left_on = 'CWD', right_on = 'CWD')
    # move REG_NEW to the first column, drop REG.
    cols = LFS_df.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    LFS_df = LFS_df[cols]

    # drop REG and CWD
    LFS_df = LFS_df.drop(columns = ["REG", "CWD"])

    ## Recode SECTOR
    LFS_df["SECTOR"] = LFS_df.apply(sector_create_54, axis = 1)
        
    ## Recode EDCODE
    LFS_df["EDCODE_NEW"] = LFS_df.apply(EDCODE_NEW_50, axis = 1)
    
    return LFS_df

In [130]:
### Function for Tabulate sector for workers of all ages.
def TAB_SEC(LFS):
        ### Number of people in each sector by region.
        LFS_SEC_REG = LFS.groupby(["REG_NEW", "SECTOR"]).agg({"WT": "sum"}).reset_index()

        ## Create a new column for the percentage of each sector.
        LFS_SEC_REG["Percentage"] = LFS_SEC_REG.groupby('REG_NEW')["WT"].apply(lambda x: x / x.sum() * 100).reset_index().WT

        ## Compute the total number of people in each sector at the national level.
        LFS_SEC_NAT = LFS_SEC_REG.groupby("SECTOR").agg({"WT": "sum"}).reset_index()

        ## Create column REG_NEW for the national level. Set it to 0.
        LFS_SEC_NAT["REG_NEW"] = 0

        ## Create a new column for the percentage of each sector.
        LFS_SEC_NAT["Percentage"] = LFS_SEC_NAT["WT"]/LFS_SEC_NAT["WT"].sum() * 100

        # Make the order of columns the same as LFS_SEC_REG
        LFS_SEC_NAT = LFS_SEC_NAT[LFS_SEC_REG.columns]

        ## Concatenate the national level data to the regional level data.
        LFS_SEC_REG = pd.concat([LFS_SEC_NAT, LFS_SEC_REG]).reset_index(drop=True)

        return LFS_SEC_REG

In [123]:
### Function for Tabulate education level for workers of all ages.
def TAB_EDU(LFS):
        ### Tabulate the data. Get the number of people in each education level (7 categories), in each region (6 regions).
        ## Tabulate the data.
        LFS_EDU_REG_TOTAL = LFS.groupby(["REG_NEW", "EDCODE_NEW"]).agg({"WT": "sum"}).reset_index() ## Don't sort by the alphabetical order.

        ## Exclude the "Other/Unknown" category.
        LFS_EDU_REG_TOTAL = LFS_EDU_REG_TOTAL[LFS_EDU_REG_TOTAL["EDCODE_NEW"] != "Other/Unknown"].reset_index(drop=True) ## drop previous index (otherwise it becomes a new column)

        ## Create a new column for the percentage of each education level in each region.
        LFS_EDU_REG_TOTAL["Percentage"] = LFS_EDU_REG_TOTAL.groupby("REG_NEW")["WT"].apply(lambda x: x/x.sum()*100).reset_index().WT

        ## Compute the total number of people in each education level at the national level
        LFS_EDU_NAT_TOTAL = LFS_EDU_REG_TOTAL.groupby(["EDCODE_NEW"]).agg({"WT": "sum"}).reset_index()

        ## Create column REG_NEW for the national level. Set it to 0. 
        LFS_EDU_NAT_TOTAL["REG_NEW"] = 0

        ## Create a new column for the percentage of each education level
        LFS_EDU_NAT_TOTAL["Percentage"] = LFS_EDU_NAT_TOTAL["WT"]/LFS_EDU_NAT_TOTAL["WT"].sum()*100

        # Make the order of columns the same as LFS_EDU_REG_TOTAL
        LFS_EDU_NAT_TOTAL = LFS_EDU_NAT_TOTAL[LFS_EDU_REG_TOTAL.columns]


        ## Concatenate the national level data to the regional level data.
        LFS_EDU_REG_TOTAL = pd.concat([LFS_EDU_NAT_TOTAL, LFS_EDU_REG_TOTAL], axis = 0).reset_index(drop=True) ## drop previous index entirely.

        ### Sort the table by EDCODE_NEW.
        custom_dict_edu = {'Less than elementary': 0, 'Elementary': 1, 'Lower secondary': 2, 'Upper secondary or Associate': 3, 'Bachelor or higher': 4, 'Other/Unknown': 5}
                           
        # Convert EDCODE_NEW to an ordered categorical data type
        LFS_EDU_REG_TOTAL['EDCODE_NEW'] = pd.Categorical(LFS_EDU_REG_TOTAL['EDCODE_NEW'], categories=custom_dict_edu.keys(), ordered=True)

        # Sort the table by EDCODE_NEW and REG_NEW
        LFS_EDU_REG_TOTAL.sort_values(by=['REG_NEW', 'EDCODE_NEW'], inplace=True, ignore_index = True)

        return LFS_EDU_REG_TOTAL

## Repeat the same process for data from 2556 Q1, Q2, Q3, and Q4.

In [124]:
# Creating a dictionary to store tabulation results (dataframes).
LFS_All_YEAR_ALL_AGE_SEC = {}
LFS_All_YEAR_ALL_AGE_EDU = {}
LFS_All_YEAR_YOUNG_SEC = {}
LFS_All_YEAR_YOUNG_EDU = {}
LFS_All_YEAR_MIDDLE_SEC = {}
LFS_All_YEAR_OLD_AGE_SEC = {}

### Import Labor force survey
list_year = [56]
list_quarter = [1, 2, 3, 4]

for year in list_year:
    for quarter in list_quarter:
        filename = "D:\Onedrive-CEU\OneDrive - Central European University\CEU\Thesis\Thesis_code\Data\LFS\LFS" + str(year) + str(quarter) + ".SAV"
        Data_Time = "LFS_" + str(year) + "_Q" + str(quarter)
        LFS, meta = pyreadstat.read_sav(filename)

        ###### Apply created functions.
        ### Clean the data.
        LFS = LFS.pipe(LFS_from54_clean)

        ## Create sub-dataframes for each age group.
        LFS_YOUNG = LFS[LFS["AGE"] <= 24]
        LFS_MIDDLE = LFS[(LFS["AGE"] >= 25) & (LFS["AGE"] <= 54)]
        LFS_OLD = LFS[LFS["AGE"] >= 55]

        ### Tabulate the data.
        LFS_All_YEAR_ALL_AGE_SEC[Data_Time] = LFS.pipe(TAB_SEC)
        LFS_All_YEAR_ALL_AGE_EDU[Data_Time] = LFS.pipe(TAB_EDU)

        LFS_All_YEAR_YOUNG_SEC[Data_Time] = LFS_YOUNG.pipe(TAB_SEC)
        LFS_All_YEAR_MIDDLE_SEC[Data_Time] = LFS_MIDDLE.pipe(TAB_SEC)
        LFS_All_YEAR_OLD_AGE_SEC[Data_Time] = LFS_OLD.pipe(TAB_SEC)

        LFS_All_YEAR_YOUNG_EDU[Data_Time] = LFS_YOUNG.pipe(TAB_EDU)